[2022-06-16 15:27] Snirpo commented on #116
I bought an Alpine ilx905 (has the same issue) to reproduce this issue. And I have been able the reproduce it. Now only to figure out why. Getting there.

Someone on our Slack channel with an EV6 actually just confirmed the same thing. The same thing happens in 1.12.0, which to me is quite surprising. Because it seemed like these issues only started on 2.0.

[2022-06-16 15:36] Letalis commented on #116
Can I assist more from my side?

[2022-06-16 18:41] Snirpo commented on #128
Small update. We are comparing AAWireless to the MA1. Found a difference how the MA1 disconnects from USB vs AAWireless.

On firmware 1.x the disconnection process was different. That's why 1.x works, and 2.x doesn't. We don't really want to go back the the 1.x logic though, because it only works probably in non-passthrough mode.

To be continued.

[2022-06-16 18:42] Snirpo commented on #124
@worldonfire I have the Y splitter cable. I can still send you one if you want to test? Someone on XDA tested with a Y splitter and it didn't help, but who knows....

[2022-06-16 18:48] worldonfire commented on #124
If possible, then I would test, as I really want to get this device working :)

[2022-06-16 19:02] Snirpo commented on #124
Sure! I'll create a package and send it tomorrow.

[2022-06-16 19:56] Snirpo commented on #124
Intresting observation:

One of our testers on Slack (82:FC:B1:9F:7F:93), has the following HU where AAW works perfectly fine, I quote:
"Last week I had abt 800 km drive, mixed highway and mountain roads without any disconnections of AA or HU crashes."

HU details:
2017 | TechniSat | MIB Standard2 ZR Nav | Volkswagen |  0359
This is a Discover media

@jaszcz0mp
2018 | TechniSat | MIB Standard2 ZR

[2022-06-16 20:05] Snirpo commented on #142
If the HU supports multiple resolution for AA, we can do this. However, we cannot guarantee it will actually work. These kinds of settings come with big disclaimers :)

[2022-06-17 12:43] xsichtasdf commented on #124
Hey, I've received my AAWireless today and it doesn't work, issue sounds like the one reported. So, works for like 5 sec, then disconnects. I also drive a Passat B8 with firmware listed (0478).

I'm thinking about updating the car to the newest available firmware what is, based on my knowledge, 0480.

Do you perhaps heard about other users who had the same issues with newest firmware?
Further, doe

[2022-06-17 12:49] Sasha0088 commented on #124
@xsichtasdf
I think it's not in the firmware that I have 1367 and also the same as everyone else.

[2022-06-17 12:56] Snirpo commented on #124
@xsichtasdf This is AAWireless tech support. Please don't contact support won't help. It already has the attention right here :)

[2022-06-17 13:06] xsichtasdf commented on #124
@Sasha0088 : I was referring to the update of Snirpo from 17h ago. This is related to TechniSat devices, at least based on the firmware number. Sorry for the confusion.

@Snirpo : it was renamed several times (don't know why). Current name: AAWoj1MlcFz

Give me a hint if I should plug it in again and retry

[2022-06-17 13:07] Snirpo commented on #124
@Sasha0088

I see two cars in the backend linked to your device:

2018 | TechniSat | MIB Standard2 ZR Plus | SKODA |  0478
CLU8_ER | HARMAN | 61852 | Volkswagen | MHI2_ER_VWG13_K4525 | CLU8_MMX2_VW_ER_G13_129PROD

Can you confirm on the Skoda, the same issue exists?

[2022-06-17 13:15] Sasha0088 commented on #124
@Snirpo
No, I do not confirm, I try to meet him again and ride with him more. Hope to see you soon :)

[2022-06-17 13:54] Snirpo commented on #124
I need to debug this low level bassiccly, attach an USB debugger and see whats happening. The problem is, even when I have the Tiguan on Monday, there's a good chance it will just work fine. But we'll see.

[2022-06-17 16:02] Snirpo commented on #116
We got confirmation this issue happens all the way back down to firmware 1.8. I've just pushed a version of the app where we enable passthrough mode by default for new devices as a quick fix.

I have been only looking at changes from firmware 2.0, but now we know it's not a specific 2.0 issue. This problem has probably been in there since 1.0, but never triggered before.

I'm pretty sure it's some

[2022-06-17 16:07] Janz25 commented on #116
Hi @Snirpo , im still experiencing mutiple disconnection within the same trip. My app and firmware always updated to the latest beta. Can help to check.

[2022-06-17 16:10] Snirpo commented on #116
@Janz25 in passthrough mode?

[2022-06-17 16:12] Janz25 commented on #116
In normal mode. I believed it should be okay with passthru mode, but i cant fully utilized the aaw function.

[2022-06-17 16:35] Janz25 commented on #116
Ok sure, do let me know if u need me to do anything here, meanwhile will keep my firmware and app updated whenever available. Thanks @Snirpo

[2022-06-18 18:48] PanoSpent commented on #133
@Snirpo I am sorry for the delayed answer. I checked with one plus nord 2 and it didnt disconnect when turned off and turned back on the data. I also noticed that many times i lose the gps signal only in the wireless mode( it doesnt happen when connected with wire).
![IMG_20220618_170942](https://user-images.githubusercontent.com/12428756/174452331-9924e606-f71d-4655-9c8e-efc490316bc7.jpg)

[2022-06-19 14:21] Snirpo commented on #116
We figured it out. I'll be merging the changes to develop this evening and we will be releasing 2.0.2 as a hotfix.

[2022-06-19 19:29] maisondasilva commented on #116
Is this fix a final release?  When should it be released to the public?  Can I get it on my Aa?

[2022-06-19 19:57] Snirpo commented on #116
This fix is already in the dev firmware. We will also push this this fix in the 2.0.x branch as 2.0.2 as mentioned in https://github.com/cpebit/aawireless-issues/blob/master/FIRMWARE-CHANGELOG.md

[2022-06-19 19:59] maisondasilva commented on #116
Until tomorrow should it be out for beta or not if it can't be released for my AA?

[2022-06-20 03:21] Janz25 commented on #116
@Snirpo , received an update, believed this the development firmware that you mentioned. Had it installed this morning and will revert back. Thanks

![Screenshot_20220620-085312_AAWireless](https://user-images.githubusercontent.com/106788673/174519511-26bac142-f15c-4e98-b87b-a37a546f8b32.jpg)

[2022-06-20 08:09] Snirpo commented on #124
Just tested on a VW Tiguan, sadly it was a MIB3 HU, which works perfectly fine.

[2022-06-20 09:27] xsichtasdf commented on #124
Damn. So, what options are left?

[2022-06-20 09:34] Sasha0088 commented on #124
@Snirpo
I traveled for 1 hour on a Skoda, I never rebooted, I don’t know how to check it

[2022-06-20 09:35] Sasha0088 commented on #124
2018 | TechniSat | MIB Standard2 ZR Plus | SKODA |  0478

[2022-06-20 09:36] Sasha0088 commented on #124
2018 | TechniSat | MIB Standard2 ZR Plus | SKODA |  0478

[2022-06-20 11:57] Snirpo commented on #124
I'll try to get one of these head units to put on my desk.

[2022-06-20 17:26] skanadian commented on #116
I'm still stuck on 1.12.  Can you push dev to my device and I'll test?  My ID is up above.  Thanks.

[2022-06-20 17:35] Snirpo commented on #116
@skanadian You're back on production firmware now (2.0.2) which also contains this fix.

[2022-06-20 18:02] maisondasilva commented on #116
I updated mine here in the beta app. I received the translated version @Snirpo Thanks

[2022-06-20 18:24] Snirpo commented on #124
One of our testers has a:

2018 | TechniSat | MIB Standard2 PQ Nav | Volkswagen |  0480

And no issues at all. We could try a replacement device I guess, to rule out any device related issues.

[2022-06-20 18:35] Sasha0088 commented on #124
@Snirpo
How can I do that

[2022-06-20 19:12] xsichtasdf commented on #124
@Snirpo : that's an other Navi I've got, at least on what I've found via Google regarding the device description of yours.

Would be interested in another test device as well, especially as the delivered usb cable as faulty. (I'm using my regular usb-c cable with which I'm doing android car regularly).

[2022-06-20 19:26] skanadian commented on #116
@Snirpo Thank you.  Drove for a little over an hour.  Not a single hiccup.  No lags, no disconnects, nothing, it was perfect.  Changed a few settings (ie. DPI) to test my use case, no issues.

Amazing job! I really appreciate this and your product in general.

If you could remove my device from any custom firmware lists so I can get retail firmware in the future that would be great.   Again, thank

[2022-06-20 21:42] Ghasemjb commented on #116
Hi, how can I receive the latest 2.1.0 please?

Regards

[2022-06-20 21:44] Ghasemjb commented on #116
Hi , how can I receive the latest 2.1.0 software please?
Thank you for your great work.

[2022-06-20 22:32] ultraboost commented on #116
I too have been having random disconnects from AA on a Porsche PCM4. Whatever setting or WiFi channel, including passthrough 'enabled' I tried the headunit closed AA after 5 minutes or so. Even tried swapping the original AA wireless unit for the latest one. It happened with firmware v1.8, 2.0 and 2.01. Older firmware was stable. I've updated to v2.02 this evening so hopefully that will resolve it

[2022-06-21 15:48] Snirpo commented on #133
I have no explanation for GPS loss, except when "disable tap restriction" is turned on.

[2022-06-21 15:52] Snirpo commented on #116
I'm closing this issue. This specific issue has been fixed in 2.0.2.

@ultraboost Your issue is unrelated to this issue when it's also unstable in passthrough mode. I'm creating a separate issue for it.

[2022-06-21 16:06] Snirpo commented on #121
Fixed in app 2.15.0

[2022-06-21 16:08] Snirpo commented on #97
@Irigdon

If this problem only happens in non-passthrough, it should be fixed in 2.0.2.

@gtavo

If you have an Xiaomi phone the problem is: #102

[2022-06-22 07:44] Snirpo commented on #128
OK basically there's no magic involved on the MA1, it only disconnects from USB a bit earlier. The problem on my Pioneer HU here on my desk, and possibly also Uconnect is the car disconnecting the USB connection earlier than the device, then the HU gets into a bad state where the device is still "connected" while it's actually not.

I lowered some timeouts and made retrying default. @luvwot can yo

[2022-06-22 10:55] Snirpo commented on #124
@xsichtasdf Sure, can do. Can I have your Indiegogo contribution number? I'll send you a new one.

[2022-06-22 12:41] xsichtasdf commented on #124
Send you to your Gmail address 👍

[2022-06-22 15:41] luvwot commented on #128
@Snirpo Will do.  I've downloaded the firmware from today and the latest mobile app from Firebase.  I'll let you know how it works out after I've had a chance to test some long delays/drives.

[2022-06-23 03:48] luvwot commented on #128
@Snirpo Unfortunately this combination of firmware and app doesn't work well for me. The symptom I'm seeing now is that the LED is white, not blinking blue (so it appears to not even try to connect?).  If I forget the AAW from the headunit, I can get it to reconnect but it only works once or twice, then I have to forget it again.  This is the same experience that I had in previous/released 2.x fir

[2022-06-23 05:20] Snirpo commented on #128
Can you turn off the start/stop mechanism for a while to see how it works without. White LED means start/stop is not working properly

[2022-06-24 13:22] jojo7v opened #144 "Cannot update from version 1.8.0 to 2.0.2"
**Describe the bug**
My AA dongle currently has version 1.8.0 installed, and version 2.0.2 is available.
My phone has the latest app (2.17.0).
When I try to update, the download works fine.
While installing, it stops differently between 67% and 74%. The update notification just disappear and the error "Update failed" is shown in the app.

**Screenshots**
![Screenshot_20220624-140744_AAWireless](ht

[2022-06-24 13:25] Snirpo commented on #144
Please try to update while connected to a separate power source (USB charger). You car radio most likely kills power to the device when AA gets killed.

[2022-06-24 14:06] jojo7v commented on #144
In the meanwhile, I did a factory reset of the AAWireless and uninstall and reinstalled the app, and having version 1.8.0 on the device, I get "No update available".

[2022-06-24 14:59] jojo7v commented on #144
This was a good advice. Thanks Snirpo!

In the meanwhile, I reset the device and my phone. After that, my phone always said there's no update available. Trying with my tablet and AAWireless on USB charger worked!

It looks like the apps saves the update state somewhere so that it is restored even after an uninstall/install. In my case, it was bad, since a bad state was saved.

[2022-06-24 14:59] #144 closed

[2022-06-24 15:15] Snirpo commented on #124
@xsichtasdf Can you possible try the latest develop version of the firmware? I can't find you device unfortunaly, what's the latest name?

@worldonfire @jaszcz0mp I enabled the develop firmware for your devices. This makes the device (almost) one on one replicate the MA1.

[2022-06-24 16:22] Snirpo commented on #144
This issue will be fixed in 2.1.0, by not killing AA when updating. So updates can be run in parallel while AA is running :)

[2022-06-24 16:30] worldonfire commented on #124
Hi!
Will do the update soon.

Just one interesting thing - my friend wanted to make usb cable with extra power (Y cable). Have used this few days. Managed to drive ~180km trip without a single drop. Next day driving to work, it had one drop. Same evening at same spot another drop (looks like found one specific spot, where device discconnects - aa wireless does not restart.)
After that tried to tes

[2022-06-24 16:42] Snirpo commented on #124
Hmm that's very good info. What you are talking about seems interference related issues. Setting device to a higher wifi channel should help. If this does not help, we'll replace your device by a new one.

So it seems like a device-side usb port issue? Hmm, that's interesting. Is this cable also shorter by any chance?

About the cable... I honestly don't know. I've had 100's devices in my hands, w

[2022-06-24 17:07] Snirpo commented on #124
I wish I had an answer, but I don't. I don't think these problems on the Technisat and Harman units are the same issue. The problem with random disconnections is that is could be anything, and it's not always easy to read from the logs whats happening. We can't see whats happening on either side (HU / phone), we can only see what the device is doing. I cannot really debug this issue without having

[2022-06-24 17:21] worldonfire commented on #124
Yes, can totally understand :)
If there is a way how to help with debuging- let me know :)

Cable length - so the device could have a power deficite/lack of power?

Yes, I'm using AAWQin7o2w1 currently.

Few weeks ago I have also ordered one cable from aliexpress that should work (at least one user reported that is sits in type C port firmly).  Lets see if that one works...

[2022-06-24 17:33] worldonfire commented on #124
Will do!

Would really like to show the car, but i think the drive would be quite long :D

[2022-06-24 18:53] jojo7v commented on #144
It sounds really great!

[2022-06-24 22:09] buddyrm opened #145 "Stop/Start disconnect every 5 minutes issues"
I have a Kia Niro EV and have two android phones (android 12 samsung S20), I have a car that has USB power always there even with the car off. So I use the start stop feature to only active aawireless when I connect with bluetooth. It works for about 5 minutes and then aawireless disconnects and I have to cycle the bluetooth on my phone to reconnect. Very annoying. Without the start/stop feature t

[2022-06-25 03:30] luvwot commented on #128
@Snirpo I tried turning off start/stop and ran into a problem where bluetooth on the phone doesn't reconnect to the headunit if the USB (for AAW) hasn't powered off.  If the USB was off then when I start the car and everything powers up it's fine.

I did also notice that it takes a lot longer for my phone to disconnect from the AAW Wi-Fi with start/stop disabled.

I just downloaded today's firmwar

[2022-06-25 18:12] Snirpo commented on #124
Yeah I think so. I'm curious if it stays stable now with shorter cable. I'll try to get a hold of one of these cars somehow. Need to attach the USB debugger to probably debug it.

[2022-06-25 18:25] worldonfire commented on #124
![20220624_204509](https://user-images.githubusercontent.com/732000/175785732-75c91228-fa60-4a99-b9b6-26b534e0cfd2.jpg)
This is the current "hack" cable. Btw, it fits more firmly into type c socket than the original cable.
I'll try to find some more short cables and test with those.

Also will try to test this cable on my wifes passat to see, if it starts working there.

Btw, updated to latest dev

[2022-06-26 06:14] Basiswissen opened #146 "LED state explanation inside the app"
I would like an explanation about what the different LED states are meaning. This should be included in the app for offline troubleshooting.

At the moment there is just a troubleshooter which tells you what to do but doesn't give further explanation what is actually happening.

[2022-06-26 07:02] domik82 commented on #124
It's happeening with my car VW PASSAT B8 2015 with Discovery Pro head unit. I can collect more details if needed like version etc.

I don't use my car that often post Covid so maybe this is just my feeling but..

I have 2 USB connectors - one with induction charger in place of cigarete lighter and second under arm rest.

My feeling is that the issue is more severe when device is plugged in in the

[2022-06-26 07:55] worldonfire commented on #124
@domik82 are you sure you have wireless charger in front? From factory 2015 could have cellural signal amplifier in front.
Wireless charger ofc can be retrofitted.

[2022-06-26 10:29] irvine1231 opened #147 "AAWIRELESS is not connecting with Audi HU"
**Describe the bug**
After update to version 2.0.2, I am not able to make it work with my Audi A4 avant B9. The phone shows the status "Android Auto connected" , but the car cannot detect the Android Auto. It is previously working while the version is in 1.8.0 and 2.0.0.

**Device name (AAWireless/AndroidAuto-AAWxxxxxxx) (please complete the following information):**
 AAWireless-0OVswCXf

**Car (p

[2022-06-26 18:12] Snirpo commented on #124
@domik82 Kinda surprised it's so regular. Memory leak is not really possible, then all devices in all cars should be effected, and we would have a very big issue :). I've also been monitoring memory leaks regarding another issue (#116) , and there are no issues.

I'm actually on contact now with a company which does VAG diagnostics. They have a Harman HU for sale. Hopefully I can get it somewhere

[2022-06-26 18:16] Snirpo commented on #147
Probably coincidental. 2.0.1-2 has no major changes. Please try to go through the troubleshooting in the app first (help and support --> troubleshooting).

[2022-06-26 18:22] xsichtasdf commented on #124
Sorry, was away. Updated and will test tomorrow morning. Current name: AAWoj1MIcFz

[2022-06-26 19:28] domik82 commented on #124
To be honest - I thought it's charger - looked today and I'm not so sure anymore. None of my phones fit there so can't even check it.

Anyway I had used a suggestion and found really short USB cable (I got ~20 cm Sony one) - did six around 15 min rides - not a single drop.

Will observe more.

[2022-06-27 00:40] luvwot commented on #128
@Snirpo The latest couple builds of firmware don't seem to be as reliable as previous builds (from, say, a week or two ago). Most often now I'm back to being able to get connected once or twice, maybe 3 times if I'm lucky.  After that, I see the blinking blue LED for about 10 seconds, then the LED goes white.  At this point I have to make the headunit forget AAW and re-connect.

I've tried multipl

[2022-06-27 07:14] Snirpo commented on #128
@luvwot I'll revert all changes we did regarding "stale connection" timeouts in a special branch and put your device on that branch.

[2022-06-27 10:00] worldonfire commented on #124
Yep, it sounds like signal amplifier. :)
If it would be wireless charger, then on right side, there wouldn't be usb port. With newer models, there is type c usb port almost next to gear lever.

[2022-06-27 10:58] xsichtasdf commented on #124
@Snirpo : tested the update. Not once I was able to get the connection up and running. While direct connecting my phone via cable, it worked immediately

[2022-06-27 19:00] Snirpo commented on #128
I'm really wondering what the actual source of this issue is. I thought we had the reason, but apparently we don't, because the latest builds should make this situation better instead of worse.

@fg64 Can you possible verify one thing for me? When it stops connecting after a few times, can you switch to "direct accessory" mode and check if it starts up? This would confirm that the HU is getting st

[2022-06-27 19:31] luvwot commented on #128
@Snirpo USB mode "direct" seems to give me a boot loop.  Green LED, then one blue blink, off, then green again and it starts over.

[2022-06-27 20:50] Snirpo commented on #128
@luvwot yeah normally I expect that. But in the situation where the HU does not start up AA anymore, it might actually trigger it to start.

[2022-06-27 21:50] fg64 commented on #128
@Snirpo Just got bck into the truck.  AAWireless would not reconnect.  Unit had a steady white light.  Changed to USB direct.  No change, steady white light.

[2022-06-28 01:43] fg64 commented on #128
Update.  Went out with the truck and no connection, solid white light.  Turned the truck off for about 15 minutes.  Came back, started up and AAW came up.  I'll see how it goes tomorrow.

[2022-06-28 05:02] Snirpo commented on #128
@fg64 do you have any of the start stop modes enabled?

[2022-06-28 09:47] Snirpo commented on #124
This most definitely is some kind of hardware issue. Can't explain it otherwise. I'm waiting for my test HU to come in.

[2022-06-28 13:37] fg64 commented on #128
I do have start/stop enabled.  I will disable and give it a try.  Will be heading out shortly.

[2022-06-28 18:49] Snirpo commented on #139
Sorry for the late answer. Can you possible enable passthrough on both dongles? This way we make sure Android Auto cannot detect the two devices as the same head unit.

[2022-06-28 18:51] dublus commented on #139
We're out of town right now but I'll give it a try in a couple weeks.

[2022-06-28 19:02] Snirpo commented on #139
No problem, thanks!

[2022-06-28 19:04] Snirpo commented on #145
We are going to try to reproduce this it in exactly the same car and almost the same phone (S20FE) on Thursday. Let's see what happens.

[2022-06-28 19:36] Snirpo commented on #124
OK I just figured something out. All the problems with the Harman HU's are happening with the gen2 devices:

92:91:39:3B:6D:05 -- rv1109
92:91:07:65:46:E0 -- rv1109
36:E7:59:B5:E9:D4 -- rv1109
D2:77:6D:36:E9:C5 -- rv1109

So it might very well be related to the gen2 hardware. We tested a return of someone (92:91:07:65:46:E0), and there were no issues at all with another JVC headunit.

This makes m

[2022-06-28 20:23] EVPower2k13 commented on #97
I Installed the lastest firmware 2.0.2 but the dropout is still occuring. Samsung S10e with Kona Electric. Mostly on short trip. I always listening to youtube in car and the audio drop for 1-2 sec then continue. But at the second and 3rd time, the led is solid white. Only way, to make it works again, is to unplug and replug.

What do you need to debug it further.

Thanks.

[2022-06-28 20:47] fg64 commented on #128
@Snirpo Disabled start/stop. Would not connect using USB direct mode. Looked like AAW kept rebooting. Switched to MTP mode and reconnected. Made several short stops and AAW reconnected each time.  Will continue testing.

[2022-06-29 10:18] Snirpo commented on #124
Harman test setup is being sent today, I'll keep you up to date!

[2022-06-29 10:31] dynasticorpheus opened #148 "Unable to access syslog"
**Describe the bug**
Unable to access log using below URL using Android / Chrome despite disabling 4G. Any best practices you can share perhaps?

http://10.42.1.1:8000/syslog

[2022-06-29 10:32] Snirpo commented on #148
Not sure why you need this? Debug logs can be sent to us by using the help and support --> bug report functionality. It will call the same endpoint.

[2022-06-29 10:37] dynasticorpheus commented on #148
I have more frequent drops after upgrading to most recent firmware hence interested what's there to see. IT person myself so step 1 is doing some root cause analysis myself before logging a ticket :)

[2022-06-29 10:42] Snirpo commented on #148
Ah OK, no problem. You can try with a PC, wifi password is the uppercased sha1 of the wifi SSID (or Bluetooth name).

[2022-06-29 10:55] #148 closed

[2022-06-29 21:49] fg64 commented on #128
@Snirpo When I got into the truck today AAW would not connect.  Removed it from projection settings, rebooted AAW and it connected right away.  I knew I would be making a few stops so I enabled debug.  After the third stop no connection and bug report was sent.  AndroidAuto-AAW4703rFeJ.

[2022-06-30 09:36] thehaxxa opened #149 "Constant Dropouts since upgrading to 2.0.2"
**Describe the bug**

Since upgrading to 2.0.2, I am experiencing dropouts every 30 seconds - 5 minutes. The dropouts are extremely brief and it immediately reconnects. This is occuring in open fields with no other Wifi networks ( or 5ghz interference), even while stationary. I have attempted setting my Wifi channel to a higher channel such as 149+ (5Ghz).

I have attempted factory resetting AAWir

[2022-06-30 09:51] Snirpo commented on #149
Was it also unstable on 2.0.1? I re-enabled 2.0.1 for your device. Can you test?

[2022-06-30 19:10] Tonetvlc opened #150 "Aawerwles sin internet en el. Movil huawei"
Una vez sincronizado el aawereless el telefono se queda sin datos  teniendo datos mas wi fi activados. No me llegan los whasaps no entra en yotube  sin ninguna conecsion

[2022-06-30 19:10] #150 closed

[2022-06-30 19:13] Tonetvlc opened #151 "Sin conecsion internet huawei"
Una vez esta configurado el aawereles el movil se queda sin datos teniendo conectados el wi fi mas datos activos  no me llega ni los whasaps ni entra en youtube  se queda sin conecsion el telefono  version emui 12

[2022-06-30 20:06] Psp104 commented on #89
Hello,

I also have 2020 Mazda cx-5. Before updating to 2.0 AAW firmware, my AAW (firmware 1.8x) and with HU version 700.00.335 worked fine without any issues.

After updating to AAW firmware 2.0, my HU failed to connect to AAW no matter what I did.

So, I did update my HU to 74.00.311 at Mazda dealership. Factory reset the HU. Removed Android auto cache and data from phone. Did the whole installa

[2022-06-30 23:36] thehaxxa commented on #149
Yes, please enable 2.0.1 and I will test it to confirm if it was the 2.0.2 update.

[2022-07-01 07:42] Snirpo commented on #149
Ok, that makes zero sense actually. You are using passthrough mode right?

[2022-07-01 07:55] thehaxxa commented on #149
@Snirpo Yes I can do a test right now, I am using USB passthrough. Can you re-enable 2.0.1 by 9:00PM AEST tonight

(if it is the culprit however unlikely, as I would like it working this weekend).

ii.e. 1PM in Netherlands (+2 GMT)

[2022-07-01 08:00] Snirpo commented on #149
@thehaxxa Sure!

[2022-07-01 08:34] thehaxxa commented on #149
So I just did a 20 minute drive and I experienced no dropouts. 🤔 I'm really not sure what (if anything) has changed but over the last week I experienced a drop out every 30 seconds. I will keep testing, its annoying as I haven't changed anything and I spent 3 hours debugging this issue before posting an issue. Based on the description provided so you have any ideas what would cause this behavior?

[2022-07-01 11:18] crostonblue commented on #135
FYI I have exactly the same issue in my 2021 A8 D5, connects immediately on starting the car but disconnects after 1 min then reconnects.
Only started after upgrading to 2.0.2

[2022-07-01 15:53] Snirpo commented on #124
So received the setup. But unfortunately AA will not start up because of the date / time being incorrect on the HU. Cannot change it either, because ignition is nessecary to change the date. Need some extra components for that apparently... Tried to hack in to it to set the time and date directly, but haven't found out how to do it.

[2022-07-01 16:00] worldonfire commented on #124
We deal with VAG group cars here in Estonia. Also with MIB HUs (for example Android Auto enabling) :) PM me and lets talk directly what is needed?

[2022-07-02 09:57] Snirpo commented on #128
I posted a comment on https://5thgenrams.com/community/threads/aawireless-review.31303/page-7 to get a bit more help. Apparently , according to @jimbotron, the MA1 does not seem to have this issue. Which is surprising to me, cause on 2.x it's works the same as the MA1.

@fg64 are you ok with going back to firmware 1.8 and checking if the same problem happens with "passthrough" enabled?

[2022-07-02 12:17] xsichtasdf commented on #124
@Snirpo : new device arrived, thanks. Seems to work much smoother, but: issue still persists :(.
Was able to get a connection up and running for exactly a second after which device turned on the green LED again...
After words, blue led is pinging but the device is not available in HU.

Device name: AAWn8XWItky
Any idea based on the device Infos? Tried different connection methods as well, no chang

[2022-07-02 13:09] fg64 commented on #128
@Snirpo  Sure, I'll give it try.

[2022-07-02 15:26] luvwot commented on #128
@Snirpo I'm happy to go back to 1.8 as well if you need an extra test.  Since I have played around with various settings recently, please also indicate what settings for USB, passthrough, and dongle mode you'd like tested.

[2022-07-02 15:44] Snirpo commented on #128
@luvwot enabled 1.8 for you as well. Could you try everything default + passthrough enabled?

So:
USB mode: default
Start / stop: disabled
Passthrough: Enabled

I'm just curious if the same thing happens where it only works a few times and then needs a reset on the HU side.

[2022-07-02 15:46] luvwot commented on #128
What about dongle mode?

[2022-07-02 15:47] Snirpo commented on #128
Dongle mode can be kept on :)

[2022-07-02 15:57] Snirpo commented on #124
@xsichtasdf Kinda expected that. I sent @worldonfire one of my golden oldies (batch 3), let's see how that goes.

@worldonfire It seems I need some extra modules to make the HU think there's ignition. I do have root access to the HU (MMX/RCC) already toyed around with it a bit, but couldn't find a way yet to hack in the date/time or make the HU think there's ignition. I'm in contact with the VAG s

[2022-07-02 18:04] Snirpo commented on #128
Correction, 1.8 does not have dongle mode of course :)

[2022-07-02 18:06] Snirpo commented on #149
I see a lot of wifi disconnects in the logs, my best guess is AA/the phone was in some kind of weird state. It seemed to constantly loose the wifi connection.

[2022-07-02 18:09] luvwot commented on #128
Yeah, I realized that when I did the downgrade to 1.8 and it wasn't available.
Quick tests over the last couple hours seem to be good.  It's properly/automatically reconnected 7-8 times in a row now, both with the phone remaining in close proximity (like if I was just filling up at a gas station) and farther away (like running into a store for a few minutes).  I still have to have a few tests wher

[2022-07-02 18:17] crostonblue opened #152 "V2.0.2. Disconnects in Audi A8"
Since updating to v2.0.2 my AAWireless device restarts 1 min after starting the car and then every 20 mins, I had no issues with v2.0.1

2021 Audi A8

Samsung Galaxy S20 Ultra

[2022-07-02 18:19] Snirpo commented on #152
Please shoot in a bug report via the app (help and support --> bug report). Seems same like #149

[2022-07-02 18:21] Snirpo commented on #145
We tried this in the Niro + S20 FE with zero issues. Be sure to have all battery saving options for the AAWireless app and Android Auto itself disabled.

[2022-07-02 18:27] Snirpo commented on #128
@luvwot According to our backend passthrough is disabled, can you enable this?

[2022-07-02 18:32] Snirpo commented on #128
@luvwot Thanks, just enabled I see :) I'm expecting it to act the same as firmware 2.x now: "UConnect only works a few times, then needs to be re-added". Can you verify if this is indeed correct? Thanks!

[2022-07-02 18:34] luvwot commented on #128
Spying on me?  :)

I just enabled it. I'll run a few tests and let you know.

[2022-07-02 18:42] fg64 commented on #128
So far, a couple of short stops but close to the vehicle and reconnected OK.  After 1 stop which I believe I was out of range for a period, returned to the truck and no connection.  I unplugged AAW, it rebooted and connected again without removing it from the Projection settings.

[2022-07-02 19:10] luvwot commented on #128
Confirmed.  With passthrough enabled it alternates between blinking green (10 seconds) then blinking blue (10 seconds).  Whenever it switches from green to blue, the headunit shows a "device not supported" message; dismissing the message doesn't do anything.

[2022-07-02 19:26] fg64 commented on #128
@luvwot That happened to me as well when I first updated the firmware.  "device not supported" continuously came up on the screen.  I removed AAW from the projection settings, rebooted AAW and then it worked.

[2022-07-02 19:55] crostonblue commented on #152
Hi, bug report sent

[2022-07-02 20:59] worldonfire commented on #124
Yup, you should somehow emulate ignition. For example rasperry or smth.
Lets you they can provide you a solution :)

Got dhl message, hopefully on the 5th i'll get the device and give some reports, how it works :)

[2022-07-03 07:17] raphpa commented on #149
I have pretty much the same issue with a Mazda MZD *.352 and a Pixel 6. All standard settings, USB passthrough does not work.

It only happens like every 10th drive and with the phone not being restarted for a while. The video feed stays online, but I can see bluetooth connecting and disconnecting from the car a lot on the MZD. Mostly I just notice it because the podcast player pauses automaticall

[2022-07-03 09:27] Snirpo commented on #128
@luvwot Can you possibly switch to "MTP" USB mode and run it for a while? It should get rid of the "unsupported USB" message, but my assumption is it will act the same.

[2022-07-03 10:02] Snirpo commented on #128
@luvwot to confirm. When the HU is in this state, replugging won't help right? You have to fully delete the device from the HU?

[2022-07-03 13:33] fg64 commented on #128
@Snirpo When it happened to me yesterday, all I did was unplug AAW and plug it back in.  For me AA came back up without removing it from projection settings.  I'll be heading out later and see it it happens again.

[2022-07-03 14:58] Snirpo commented on #128
I'm wondering in which situation you actually need to delete the device from the HU. Possibly after the HU has fully powered down (after an hour or so)?

[2022-07-03 15:42] fg64 commented on #128
That is a possibility. When it happened yesterday I was out of the truck for less than 15 minutes.

[2022-07-03 16:41] luvwot commented on #128
Correct, switching to MTP (or MTP with retry) gets rid of the device not supported message, but AAW still does not connect.

Correct.  Once I get into a failure mode, I have to have the HU forget the AAW device.

I'll continue to test this case.

One other thing.  With start/top disabled, when I'm in range of the AAW device and it's powered up (for instance, after arriving at home) my phone keeps

[2022-07-03 16:48] Snirpo commented on #128
@luvwot Thanks for the info. Start / stop disabled is only for testing this specific situation indeed :)

[2022-07-03 19:58] fg64 commented on #128
Got into the truck today after it sat overnight, "device not supported" continuously popped up.  Hitting OK dismissed the message, and it popped up again in a few seconds.  Rebooting AAW had no effect.  Removed AAW from projection settings, rebooted and AA came up fine.  After the first stop, which was about 20 minutes away from the truck, got back in and AAW did not connect.  Unplugged/plugged in

[2022-07-03 20:16] Snirpo commented on #128
@luvwot Can you confirm same thing happens on your car?

[2022-07-03 20:25] fg64 commented on #128
@Snirpo Sure, no problem.

[2022-07-03 20:32] Snirpo commented on #128
I'm also building a special version now to try some stuff out.

[2022-07-03 21:19] luvwot commented on #128
Unplug and replug does not seem to resolve the issue on mine.  I get alternating green blinking and blue blinking after unplug/replug.  In my experience, once I get a failure to connect, the only way I've been able to resolve it is to forget AAW at the HU.

I either get the "unsupported" message or not depending on USB mode, but the message itself doesn't seem to actually cause problems (it's just

[2022-07-03 21:32] Snirpo commented on #128
@luvwot I enabled a special Uconnect firmware for your device, it's bassiccly develop, but with some low level USB changes.

[2022-07-03 22:02] Snirpo commented on #124
I think I'm able to fake ignition. Bought a simple CAN module to try it out.

[2022-07-03 22:59] luvwot commented on #128
@Snirpo I updated to the custom firmware.  After letting the car sit for about 40 minutes (USB powered on), I tried to connect and got alternating blinking green/blinking blue again. Unplug and replug of AAW did not reconnect.

[2022-07-04 06:48] Snirpo commented on #128
@luvwot Are you sure it updated? I still see current version as 1.8.0 in the backend for some reason.

[2022-07-04 12:51] 80kk opened #153 "Unable to upgrade firmware."
**Describe the bug**
I am trying to upgrade my dongle using my Pixel4 mobile (I've also tried Pixel5 and 6). When I open an Upgrade menu in the app it says:
`Update available`, `Current: 2.0.0`, `Latest: 2.0.2`. When I tap on `Start download` it then starting downloading and turns Current to `1.2.1`. After it finish downloading it is turning back Current to `2.0.0`

**Screenshots**
https://ibb.co/

[2022-07-04 15:01] luvwot commented on #128
It seems the update is failing to apply. After reaching 100% and waiting for reboot in the app, I see the AAW LED briefly turn green 5 times, then it completes a reboot (and the LED is red for a few seconds before looking like normal operation).  At this point it's still running the old firmware and the app confirms this.

I just tried several times with the same result, which must be what happene

[2022-07-04 16:29] Snirpo commented on #128
Ah ok, that means it doesn't boot. And it will fallback to the old version on 5 failed boots. Well, that means this your HU doesn't like this :)

[2022-07-04 17:05] Snirpo commented on #128
@luvwot Just built in image where it just reboots the device on connection loss, to force it of the USB bus. Let's see if that makes a difference.

[2022-07-04 17:24] luvwot commented on #128
OK, installed this one and it boots properly and connects.  I should be able to do a couple short trips in the next few hours to see how it does when my phone goes out of range and the USB remains powered.

[2022-07-04 18:58] luvwot commented on #128
@Snirpo Unfortunately this build doesn't improve the situation. With a quick stop to get gas (phone remained in range, about 5 minutes) reconnected just fine. With a longer stop (phone out of range, about 30 minutes) it did not reconnect. Unplugged and re-plugged AAW and it still did not reconnect. USB remained powered the whole time.

[2022-07-04 20:13] fg64 commented on #128
@Snirpo Uploaded the dev firmware.  Does not appear to function much better than 1.8 did.  First time after uploading the firmware, device connected right away.  Made several stops with mixed results.  Had to remove from projection settings a couple of times to get it working.

[2022-07-04 20:50] Snirpo commented on #128
Ok, I'll revert back to the logic of 1.x. I have no explanation for this behavior unfortunately :( I'll try to get a hold of one of these head units.

[2022-07-04 21:00] luvwot commented on #128
I don't have an MA1 to test with, and it looks like they're on backorder so I can't even pick one up to help test.

[2022-07-05 13:26] Snirpo commented on #124
Ok, so we can exclude any device model specific issues. That's good I guess.

[2022-07-05 14:19] Snirpo commented on #128
@luvwot @fg64 created a new build in the connect branch. Trying out some stuff.

[2022-07-05 15:12] luvwot commented on #128
I'm also in the US (California). I know my HU is reporting as Canada but that's because it's a replacement. (Uconnect only started offering Android Auto in 2018, so I replaced the stock HU in my 2015 with a 2018 model.) I don't believe the replacement/upgrade has anything to do with the unexpected behavior, though.

[2022-07-05 15:18] Snirpo commented on #128
@luvwot Aaah, ok, in that cause your HU might be better to test one, cause it seems te behave worse. Can you PM me your address on Slack? (Chiel Prins)

[2022-07-05 19:09] crostonblue commented on #152
Hi, I've done a factory reset, deleted the App, removed all connections from my MMI, then started again as if the u it was brand new - same result, still dropping out.

How do I go back to V2.0.1, as that version worked perfectly.

[2022-07-06 16:45] crostonblue opened #154 "Fixed - Audi A8, ongoing V2.0.2 issues"
Hi,

Reported this issue a few days ago and done as suggested.

I've also done a factory reset, deleted the App, removed connection from my MMI, then started again as if the AA unit was brand new - same result, still dropping out.

How do I go back to V2.0.1, as that version worked perfectly.

Device - AAWC4o7FYC5
Car - 2021 Audi A8
Mobile - Samsung Galaxy S20 Ultra.

[2022-07-06 22:17] Snirpo commented on #154
Enabled. Please give feedback if it actually helped.

[2022-07-07 05:15] #152 closed

[2022-07-07 07:40] glenclayton opened #155 "Connection Drops Immediately with 2017 VW Head Unit"
**Describe the bug**
Cannot maintain connection to VW Head Unit
Steps
 - Head Unit -> Press Android Auto Text
 - Head Unit -> Android Auto Text flashed white (usually preceeds a sucessful connection)
 - Phone -> Continue Setup on Head Unit
 - Head Unit -> Disconnected
 - AAWireless - flashing blue

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device name (AAWirel

[2022-07-07 16:26] karlmorris commented on #124
Same issue here using this head unit: https://electronics.sony.com/audio/car-marine-audio/receiver-players/p/xavax5000
Mobile device is a 2020 Motorola Edge running Android 11.

[2022-07-07 18:46] sicksixs commented on #128
@Snirpo, went out to the truck at lunch and tried to update.  App is showing "no update available".  Do I need to do anything special to trigger the update?  I tried the regular and the dev app, same results in both.

Also, which app do you want us to help test with?  Thanks.

[2022-07-07 19:03] Snirpo commented on #128
Should be active now. You can just use the Play Store version of the app.

[2022-07-07 19:05] tallLeRoy commented on #97
Here are the settings I use on my Samsung S20 FE 5G with no problems.

I do not use a VPN.

Settings->Connections->Wi-Fi:::Advanced: Sync with Samsung Cloud - Disabled
Settings->Connections->Wi-Fi:::Advanced: Switch to mobile date - Enabled
Settings->Connections->Wi-Fi:::Advanced: Turn on Wi-Fi automatically - Disabled
Settings->Connections->Wi-Fi:::Advanced: Show network quality info - Enabled
Se

[2022-07-07 19:16] sicksixs commented on #128
Sorry, still no luck.  I wonder if it's because the device is currently running a dev version: 2.1.0-202206240850-develop-516470d-develop-6803c38f

Do I need to factory reset to get it off the dev firmware first?

[2022-07-07 19:29] dublus commented on #139
Set both devices to passthrough mode and after going back and forth several times the only way to connect to one after connecting to the other is to wipe the dongle memory (now connection to the second dongle is possible but the first will not connect and around in a circle you go). So, no change in behavior.

[2022-07-07 21:10] ajw0 commented on #128
Hi @Snirpo, just wanted to add my name to the list of users affected by the this bug. I tried many combinations of passthrough / dongle / USB modes. I actually just received an MA1 device today and initial results are very promising. I'll know for sure after another day or two if it will continue to work. Happy to help test any beta firmware etc.

Name: AAWireless-Ach0XGh6
Firmware: 2.0.2
App: 2.1

[2022-07-08 04:42] Psp104 commented on #89
What is your Head Unit Version? It is something like 700.00.335. Try updating it from Mazda dealership to the most current one to 704.00.311

[2022-07-08 07:42] Snirpo commented on #128
@sicksixs accidentally enabled the develop branch for you, Uconnect should be enabled now.

[2022-07-08 11:28] crostonblue commented on #154
Hi,

Installed v2.0.1 this morning and no reboots or issues on a 1 hour, 45 mile
drive.

Everything working perfectly again.

Thank you.

Regs David Brandon

Sent from my Samsung Galaxy S20 Ultra

On Wed, 6 Jul 2022, 23:17 Chiel Prins, ***@***.***> wrote:

[2022-07-08 11:29] crostonblue commented on #154
Re-installed v2.0.1 this morning and no reboots or issues on a 1 hour, 45 mile drive.

Thank you.

[2022-07-08 11:52] Snirpo commented on #154
@crostonblue Are you ok with upgrading to 2.0.2 again for a sanity check? I'll move it back to 2.0.1 afterwards.

[2022-07-08 15:51] sicksixs commented on #128
Awesome.  I see the Uconnect version available using the dev app.  Updating now, will let you know how things go.  Thanks for all your support!

[2022-07-09 11:00] dublus commented on #139
When using the troubleshooting option in the app it has you wipe app memory and it's my assumption (could be wrong) it does something along the lines of resetting the aawireless dongle as well. Without going through that process there is no way to complete the connection to one dongle after first completely connecting to the other (in the other car). It is clear the dongle 'thinks' the connection

[2022-07-09 11:39] Snirpo commented on #139
Aah ok, now it makes more sense. So clearing Android Auto data + cache seems to solve it?

[2022-07-09 14:11] lrigdon commented on #97
I'm still seeing occasional unexpected restarts of the dongle, but it
recovers fairly quickly and is less frequent than with 2.0.  I'm currently
using 2.0.2 and although annoying, I don't consider it a major issue,
unlike when I first upgraded to 2.0. Although it's interesting that the
release prior to 2.0 experienced none of these issues.

Lewis

On Sat, May 21, 2022 at 8:00 AM Chiel Prins ***@**

[2022-07-09 16:00] dublus commented on #139
Yes, if you look back at my very first comment that is what I said.

"By using "Troubleshooting" in the app I can get it to connect by wiping app memory and resetting the device but then it will repeat the same behavior on the other car."

[2022-07-09 16:02] dublus commented on #139
But it's only a one-time solution until I drive the other car.

[2022-07-09 17:48] Snirpo commented on #139
Resetting the device probably is not nessecarry. Can you verify if only resetting cache + data of Android Auto helps? You don't have to to this via troubleshooting. You can just go to phone settings --> apps --> Android Auto --> Storage and cache --> Clear storage

[2022-07-09 20:23] inphinitizeit opened #156 "Disconnect one minute after starting on Ford Sync 3.0"
Device worked well on 2.0.1, on 2.0.2 it always restarts about one minute after initial connection.

[2022-07-09 22:56] dublus commented on #139
No, there's no shortcut that I can find. I've tried every variation I can think of. If you only clear app memory and cache it doesn't work. If you only have the troubleshooting section reset the dongle, it doesn't work. You have to follow what the app wants you to do, which is clear app memory/cache and the app resets the dongle (it also says to unplug and replug it but you don't have to do that).

[2022-07-10 12:43] Snirpo commented on #155
Did the same thing happen on firmware 1.12.0?

[2022-07-10 12:49] Snirpo commented on #128
@luvwot Did you already receive the MA1?

[2022-07-10 14:49] luvwot commented on #128
Not yet. UPS expects it to be delivered tomorrow (Monday).

[2022-07-10 15:23] Snirpo commented on #139
Can you verify if the the same problem happens wired? Seems more like an Android Auto issue.
I see the "head unit manufacturer" and "head unit model" values are empty. Possibly AA thinks it's the same car, and gets confused.

[2022-07-10 15:25] dublus commented on #139
I've gone back and forth dozens of times with usb cables and never had any problem.

[2022-07-10 15:26] Snirpo commented on #139
OK, I'll do some digging in the AA APK to check if I can find anything.

[2022-07-10 15:33] Snirpo commented on #139
Can you possibly get us a debug log from both cars? (help and support --> bug report). Please disable "passthrough" before.

[2022-07-10 15:57] Snirpo commented on #139
So AA checks the uniqueness of a car based on:

CarInfoInternal r = m24325r(str, "SELECT * FROM " + str + " WHERE manufacturer = ?     AND model = ?     AND modelyear = ?     AND vehicleid = ?     AND headUnitProtocolMajorVersionNumber = ?     AND headUnitProtocolMinorVersionNumber = ?", new String[]{carInfo.f8715a, carInfo.f8716b, carInfo.f8717c, carInfoInternal.f8991u, String.valueOf(carInfo.f87

[2022-07-10 16:05] dublus commented on #139
This is what I was thinking was the nature of the problem. We're leaving right now and will be back Saturday and I'll get the logs then. I forgot to mention I was able to go between a VW Atlas and the most recently connected Honda without any problem.

[2022-07-10 20:46] dublus commented on #139
Yes, it seems there is no differentiation between the two cars/dongles. Under previously connected cars it just says "Honda" and that's it.

[2022-07-10 20:52] Snirpo commented on #139
Hmm yeah, so this is actually an Android Auto issue. There's a very good chance if you run one dongle in normal mode (non passthrough) and the other in passthrough it will work.

[2022-07-10 20:55] dublus commented on #139
Well, their methods leave something to be desired but we can't forget Android Auto still works in both cars without issues with a wired connection. I just turned of passthrough on the dongle in the car were in and I'll check the other one when we get back home.

[2022-07-10 21:03] Snirpo commented on #139
Correct, but wired connection is not equal to wireless connection on the Android Auto side. There's a lot of wireless specific code in AA itself.

[2022-07-11 01:33] thehaxxa commented on #156
That sounds very similar to my issue. Downgrading 2.0.1 and upgrading again solved it for me. There are a couple of people reporting disconnect issues on 2.0.2.

Maybe @Snirpo might be able to enable 2.0.1 server side for testing purposes?

[2022-07-11 07:12] glenclayton commented on #155
I've just got the device so only have tried with 2.0.1 and 2.0.2 - same in both cases.

[2022-07-11 09:20] Snirpo commented on #156
Might sound stupid, but did you already to to reboot your phone?

[2022-07-11 09:35] worldonfire commented on #124
It does not let change settings?
What happens when you connect gps antenna(there is possibility to set the clock automatically via gps)

[2022-07-12 14:44] sicksixs commented on #128
@Snirpo I used the latest Uconnect specific firmware over the weekend, and unfortunately did not see any improvement.  Each time I got in the truck, I had to remove AAwireless from Projection Manager settings, then unplug the device.  I tried leaving the Projection Manager settings alone and just unplugging and plugging back in... no change.  This was on short stops (USB stayed powered on) and lon

[2022-07-12 18:03] ajw0 commented on #128
FWIW I do not have the issue with the MA1. It connects successfully every time I get in the car.

[2022-07-12 21:13] luvwot commented on #128
@Snirpo MA1 arrived a little while ago.  I have it connected and will be running some tests today and tomorrow to see how well it reconnects during short (USB powered on) and long (USB powered off) delays.

[2022-07-12 23:13] null-character commented on #128
I have this problem also so I am following this thread. Idk if this info helps but when the issue occurs for me the head unit stays in a bad state until it is fully rebooted. It also breaks carplay for my wife's phone as it will connect but no audio will play and it's stuck at zero.

This obviously never happens with the cables only the AAwireless dongle. Not sure what is going on on the headunit

[2022-07-13 02:30] luvwot commented on #128
@Snirpo Mixed results with the MA1 on a couple short tests.

In the garage, 3-4 tests. USB remained powered on.  MA1 connected properly each time.

Waited 1+ hours, USB powered off. On power-up, MA1 appeared to connect but had no audio (tried Waze, SiriusXM, and Google assistant). Unplugged MA1 and plugged it back in, came on and reconnected.

Three short stops (USB remained powered on), MA1 conne

[2022-07-13 09:55] dionorgua opened #157 "Please add volume adjustment feature if possible"
I'm using AAWireless with VW MIB STD2 PQ head unit. Everything works fine except one thing: volume is too loud when using AAWireless together with Youtube Music.

Even on lowest possible head unit volume music is a bit louder than I expect. It mostly ok while driving, but too loud when baby sleeps in car.

Without AAWireless (when phone is connected directly using USB cable) I'm able to lower volu

[2022-07-13 10:31] Snirpo commented on #128
We'll get one of these HU's, cause debugging this remotely is not really possible. Will keep you up to date.

[2022-07-13 11:26] Snirpo commented on #128
@luvwot I'm a bit confused by all these different Uconnect head units. I thought VP3/VP4 were the new ones, but apparently there are different version. I think I need a Mopar built HU? The Harman / Delphi built ones seem the older ones.

[2022-07-13 13:17] Brian-Chow commented on #128
@Snirpo ,
There are several offered on different trim levels that all run uconnect. There's a basic radio offered on older models and the 'classic' line on Ram pickups, I believe it's a 5". There an 8.4" one, there's an 12" one. The 8.4 and 12 are the Android auto compatible and are used in multiple lines. Prior to 2022, they run uconnect 4, which I believe is QNX based. Uconnect 5 is the latest v

[2022-07-13 14:53] luvwot commented on #128
@Snirpo You're correct that you need to get a Panasonic-built unit. Those were introduced in 2018 and that's when Android Auto was first available for Uconnect.  The Harman/Delphi units won't have AA.  Prior to 2018 the 8.4" units were VP3; starting in 2018 they moved to VP4. Cosmetically they're extremely similar and are, in fact, plug-compatible.  (In my particular case, my Dodge Durango is a 20

[2022-07-13 15:48] Snirpo commented on #128
@luvwot Ah that got me confused, cause the backend actually says your HU is a VP3. There also seem to be VP2 units with Android Auto / Carplay, but they seem like lower trim levels, like: https://www.ebay.com/itm/294191222381

[2022-07-13 15:53] scomoletti commented on #128
The challenger does support android auto, it is a 8.4" 4c unit. I also used to have a '19 jeep cherokee which had the 8.4" 4c in it and while the UI is definitely updated between the two the android auto support was the same. My '22 gladiator also has the same behavior for AA support though again new UI.

[2022-07-13 15:58] Brian-Chow commented on #128
This company provides a lot of stereo trim level upgrades to the Mopar community.  It's all OEM equipment, but a selection of radios from the various trims, most of them are going to be uconnect 4c, but I believe they list the uconnect version. https://www.infotainment.com/pages/oem-2013-2020-new-body-style-ram-1500-2500-3500-radios-accessories

[2022-07-13 16:46] Snirpo commented on #128
Hmm the 8.4 ones with AA support all seem made by Aptiv, and not vp4, but vp2. Can any one confirm if this is an HU with these issues?

https://www.ebay.com/itm/295087604009?hash=item44b4978129:g:kgcAAOSwhChiyzGX

[2022-07-13 16:50] luvwot commented on #128
Mine is definitely an 8.4" from Panasonic
![20200228_202602](https://user-images.githubusercontent.com/106754153/178788102-51fc0d06-b881-47a0-b544-9e07fee11c20.jpg)
![20200228_202628](https://user-images.githubusercontent.com/106754153/178788193-88096518-e5ea-4f2c-84f6-4e9fcdd6caf1.jpg)
![20200228_202539](https://user-images.githubusercontent.com/106754153/178788211-1ddafe58-fa4d-4778-b482-5d164f7

[2022-07-13 17:02] Snirpo commented on #128
Ah yes I see. https://www.ebay.com/itm/185079185630?hash=item2b179440de:g:rmIAAOSw7hZhVQFo

[2022-07-13 20:53] fg64 commented on #128
I've been using the last dev Uconnect branch without much luck.  With dongle mode and Passthrough enabled it would on reconnect every other time if that.  With passthough disabled it was hit and miss.  It lasted a couple of days always reconnecting, then one morning it refused to connect.  So far, the dev firmware that was pretty consistent, working 9 or 10 days with no issues, was the from 6/10.

[2022-07-13 20:58] Snirpo commented on #128
@sicksixs
Unfortunately that's not possible for your device because it's a gen2 one. First firmware was 1.12.0.

@fg64 I did not realize that, have to check what was different.

[2022-07-13 21:22] fg64 commented on #128
@Snirpo If I remember correctly I only had dongle mode enabled.  Start/Stop disabled.

[2022-07-14 03:01] luvwot commented on #128
@Snirpo I ran several short and long tests today with the MA1. Every time it did reconnect properly.
Not sure how much this helps.

[2022-07-14 17:33] fg64 commented on #128
I'll try that.

[2022-07-14 19:53] jjansen0013 commented on #128
2019 Ram Limited with a galaxy s21 here.

I've had the same issues as the rest. Have any of yall figured out how to see your phone call screen on your phone after placing a call.  Once I hit call, the only way to do anything is on the head unit.

[2022-07-14 20:27] null-character commented on #128
Hi Snirpo can you please bump me back down to 1.12? My device name is AndroidAuto-AAWNkfNuqOS. Sucks the issue isn't obvious.

[2022-07-15 06:02] Snirpo commented on #128
@null-character just did. Please confirm if it works for you.

[2022-07-15 11:05] Snirpo commented on #128
Update: @luvwot is going to send the MA1 to @fg64 . One of your devs lives close by @fg64 . We are going to run a USB trace on @fg64 's Dodge RAM.

[2022-07-15 15:16] crostonblue commented on #154
Hi,

For awareness I started getting drop outs and failure to connect with
v2.0.1 as well, I was going to give up but I've done a few things that
seemed to have solved the issue.

What I found was that when the AA unit update takes place the Audi MMI
system in my 2021 Audi A8 sees the AA device as a new source and adds it as
a new connection - I had 4 AA connections in my MMI which may have been
a

[2022-07-15 15:36] jimbotron123 commented on #128
Same here, that's the best I've found. I still have random disconnect issues that plague me pretty often, though I assume I can fix this with a later firmware and the ability to change wifi channels.

[2022-07-15 15:44] sicksixs commented on #128
@Snirpo can you drop me down to 1.12 as well?  I remember mine worked pretty well at that time as long as I unplugged it when I left the truck and plugged in when I got back in.  Not ideal, but better than what I have to do currently.  Thanks!

[2022-07-15 16:14] Snirpo commented on #124
OK I got the head unit working. There's an "overrideTime" property in the gal.json where you can override the current time.

![WhatsApp Image 2022-07-15 at 4 49 22 PM](https://user-images.githubusercontent.com/4076368/179263577-4ebc89ab-635a-4b42-ab1b-15f97c77da95.jpeg)

I did some limited testing, but I can't reproduce this issue. I guess this is good, because that means not every Harman VAG HU i

[2022-07-15 16:35] sicksixs commented on #128
Yep, I forgot to add that again.  It's in another post earlier in the thread, but I'll copy it here again too.  Thanks.
AAWireless-aTaNRlUX

[2022-07-15 16:38] Snirpo commented on #128
@sicksixs Enabled!

[2022-07-15 17:56] ori-rezonate opened #158 "Cupra formentor - appcrash every once in a while"
**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device name (AAWireless/AndroidAuto-AAWxxxxxxx) (please complete the following information):**
 - Manufacturer + type

**Car (please complete the following information):**
 - Manufacturer + type

**Headunit (please complete the following informat

[2022-07-16 16:06] null-character commented on #128
It's def. working better on 1.12 but start/ stop doesn't seem to work with 1.12 and the new app. Do I need to downgrade the app on the a phone also for start/stop to work? It's a pixel 4a 5g with aawireless set to unrestricted background usage.

[2022-07-16 16:10] Snirpo commented on #128
Hmm no start/stop should work with older firmwares as well. But I have to admit we don't really test the app much against older firmwares. Possibly you have to reselect the handsfree device which starts up the bootstrap.

[2022-07-16 23:42] sicksixs commented on #128
start/stop working for me on 1.12 so far.  Try disabling, saving, then re-enable and save again.

[2022-07-17 17:20] EVPower2k13 commented on #158
Hi, I randomly get disconnected when running android auto. Append more on
many short trips within the same day.
The light stays solid white.

On the firmware 1.8, I need to unplug the box and replug it.

Now with the new firmware 2.0.2 and the AAWireless app, I just need to
click on restart and the box is working again after 15 seconds.
Just not convenient to do it often.

AAWireless-gJruCwnU
Hyun

[2022-07-18 15:03] Snirpo commented on #128
Yeah I think for now we revert the 2.0 changes and release 2.1.0. 2.1.0 is hanging on this issue right now. Reverting to to logic of 1.8/1.12 is not really a solution but it's an OK-ish workaround for now.

[2022-07-18 18:49] Snirpo commented on #124
Did some more longer runs, up to an hour and it seems to run fine. So at this point it's still a mystery.

[2022-07-19 10:00] Ralys18 commented on #124
Hi @Snirpo I believe I have similar issue with passat b8 also, but from what I tested so far the issue seems like only happen while using Spotify + Google map, if I only use the map for navigation without Spotify I won't get any connection drop so far, hope this helps.

[2022-07-19 11:12] Ralys18 commented on #124
AAWireless-JCN8iTlp

[2022-07-19 14:36] Snirpo commented on #124
@Ralys18 This is a Technisat HU, so different issue. Please open another issue for this issue.

[2022-07-20 09:21] Snirpo commented on #145
Closing this issue because of no activity.

[2022-07-20 16:42] #153 closed

[2022-07-20 16:53] Snirpo commented on #153
Sorry I missed this issue. Good that it's fixed :)

[2022-07-20 17:58] bobcat0070 commented on #128
I have the same issues as described above on a 2020 Pacifica Uconnect 4C HU. Is it better to wait for 2.1.0 with reverted logic or request a downgrade to 1.X logic?

AAWireless-kPAUIM2b

[2022-07-20 19:45] Snirpo commented on #128
@bobcat0070 I enabled 1.8 for you. We have to test 2.1.0 a bit with the reverted logic, ETA next week.

[2022-07-20 19:52] Brian-Chow commented on #128
@Snirpo May I be put back on 1.8 as well? AAWireless-i8Sah50T

[2022-07-20 20:05] Snirpo commented on #128
@Brian-Chow 1.12.0 for your device, cause you have a gen2 :) Done.

[2022-07-20 20:18] Brian-Chow commented on #128
@Snirpo thank you!  I'm willing to test 2.1.0 as well, if additional people are needed.

[2022-07-21 12:47] elbubi commented on #106
Exact same issue here with Pegueot 3008 2017 (NAC2). Tried every single posible combination to no luck.

On top of that, after heavy using video + music (advancing many songs in Spotify is killer), things gets laggier and laggier to the point AAW crash and disconects from HU (or HU rejects AAW).

Its really anoying stuff, but good to know that other devices as MA1 suffer from it too.

Hope you Sni

[2022-07-21 18:52] xsichtasdf commented on #124
@Snirpo : how do we proceed in this case? Any further ideas? If not, is a refund possible?

[2022-07-22 12:21] WGriffing commented on #128
@Snirpo Could you put me back on 1.8/1.12 as well? AAWireless-NP2by4fD

Same issue in a 2020 Jeep Gladiator.

Thanks

[2022-07-23 17:21] Snirpo commented on #124
@xsichtasdf I have no real solution at this point. I'll ask our factory to research if they can find anything on the hardware side which could cause this issue. My guess is it's power related.

Refunds are possible, you can contact support at support@aawireless.io and request a refund. You can mention this post.

[2022-07-23 17:26] Snirpo commented on #128
@WGriffing I'm going to blacklist the 2.x firmware for UConnect in the backend for now. 2.x is definitely a big problem for UConnect. You should be able to downgrade this evening when I pushed this change.

[2022-07-23 17:32] Brian-Chow commented on #128
@Snirpo just to add confirmation to what others have been reporting -- 1.12 has been working flawlessly for me the past several days.  Using MPT w/ Retry, no passthough, auto connect/disconnect with bluetooth.  This is with a 12" UConnect 4c NAV (UAX)

[2022-07-23 17:34] Snirpo commented on #128
@Brian-Chow you probably can use the default MTP mode. Can you try to run with MTP?

[2022-07-23 17:36] Brian-Chow commented on #128
@Snirpo Sure, I've got a few errands to run today, I'll switch modes and report back later today.

[2022-07-23 17:38] BeavisCH commented on #128
@Snirpo does that mean all uconnect users with aawireless are getting the downgrade automatically or do we need to tell you the device name for you to enable downgrade?
AAWLu3AjZGu

[2022-07-23 17:43] Snirpo commented on #128
@BeavisCH Yes, correct. The latest version will be 1.12.0 instead of 2.x.

[2022-07-23 20:23] Snirpo commented on #128
@WGriffing @BeavisCH you should be able to downgrade to 1.12.0 now.

[2022-07-23 20:39] luvwot commented on #128
@Snirpo Was that supposed to be for all uconnect users? Mine doesn't show an update option back to 1.12.  If the blacklist for uconnect isn't implemented yet no rush - I can wait.

[2022-07-23 20:47] Snirpo commented on #128
@luvwot Only for devices which are still on the default branch, yours was still on the UConnect branch, should be visible now.

[2022-07-24 18:23] BeavisCH commented on #128
Thanks gonna test next week 🤘

[2022-07-25 21:06] Brian-Chow commented on #128
I've had a chance to run MTP mode and it's all been great, 0 issues so far. Connecting and disconnecting seem to work exactly as expected.

[2022-07-26 11:14] ann4belle opened #159 "False Update"
**Describe the bug**
The app wants me to update from 2.0.2 to 1.12.0.

**Screenshots**
![image](https://user-images.githubusercontent.com/18199611/180992747-1f8774e5-1735-42c9-9fb6-74b51581768d.png)

**Device name (AAWireless/AndroidAuto-AAWxxxxxxx) (please complete the following information):**
 - AAWireless-VXbw1Lod

**Car (please complete the following information):**
 - 2019 Chrysler 300

**He

[2022-07-26 11:23] BeavisCH commented on #128
Downgraded to 1.12 successfully. In order to get it working I had to remove the device from uconnect projection manager and from aawireless app. After that I reconnected and lal worked fine.
After letting the car rest over night aawireless didn't reconnect upon entering the car in the morning.
Gonna try to reset the aaw device and clear all related caches on the phone and set everything up like ou

[2022-07-26 11:57] null-character commented on #128
@BeavisCH after downgrading to 1.12 with the new app everything works perfectly so it could work. I have the 8.4" uconnect 4C NAV.

[2022-07-26 16:27] WGriffing commented on #128
I successfully downgraded to 1.12 and AAWireless seems to be back in business. Drove several hours yesterday without any issue. I have passthrough disabled and "MTP with retry" set.

I saw elsewhere in this thread that regular "MTP" should be working, but I haven't tried it yet.

[2022-07-26 18:24] imbamo commented on #159
same exact problem, after updating 1.12.0 it does not detect other updates

[2022-07-26 18:31] bpsmicro commented on #159
This was covered in the XDAForums discussion:
`This is intended actually. There are problems with firmware 2.x and Uconnect, so we decided to hardcode latest firmware for UConnect to 1.12.0. Almost every day support has to downgrade a few devices to 1.12.0.`

(Chrysler == UConnect)

[2022-07-26 20:12] Snirpo commented on #159
@bpsmicro Correct! If you don't have any issues, you don't have to downgrade. Check #128 for details.

[2022-07-26 20:13] #159 closed

[2022-07-27 02:42] ann4belle commented on #159
So does this mean that I won't get any updates past 1.12.0, even if I'm not experiencing any issues?

[2022-07-27 06:25] Snirpo commented on #159
Only temporarily until we figured out what's wrong.

[2022-07-27 12:16] ann4belle commented on #159
I see. Is there any sort of log file I can provide that would help, since I'm not experiencing any problems?

[2022-07-27 13:47] Snirpo commented on #128
@WGriffing @BeavisCH @Brian-Chow @null-character @luvwot @fg64 Can you possibly switch to "DEFAULT" USB mode. You might get an error on the HU, but AA should start up anyway. We checked the logs of @fg64 and we have a strong feeling this is where the problem comes from.

[2022-07-27 18:31] Brian-Chow commented on #128
@Snirpo I was able to do a small amount of testing with mode set to Default and as expected, it produced an Unsupported Device message on the UConnect screen but works anyways when dismissing the warning.

[2022-07-27 18:36] BeavisCH commented on #128
@Snirpo after resetting everything it works as intended with 1.12. Did a few drives today and it connected every time.

[2022-07-27 20:54] Snirpo commented on #128
@WGriffing @BeavisCH @Brian-Chow @null-character @luvwot Just realised you're all back on 1.8/12 of course. Still it's good info "DEFAULT" USB mode seems to work ok on 1.8/1.12.

Anyway: I want to try something different. About a month ago we added an experimental "device controlled start / stop". I was reading back some XDA posts and at some point @fg64 was saying it worked it started up fine a f

[2022-07-27 22:48] Brian-Chow commented on #128
@Snirpo Do we set Device HFP controlled or Device USB controlled?

[2022-07-28 05:23] Snirpo commented on #128
Sorry, USB controlled

[2022-07-28 13:28] worldonfire commented on #124
I would say that with this one specific "hack" cable (propably with random y cable also, have not managed to test it) AAWireless finally works as expected. It is self made Y cable but I don't use secondary power(second usb cable sits unused). Did ~5000km car trip and used waze every day. Had only few drops in big cities (Warsaw, Vienna and one city in Czech) but these were propably due to wrong wi

[2022-07-28 14:47] Snirpo commented on #124
@worldonfire Good to know, so it's definitely cable related. I'll ask the factory if there's any reasonable explanation for this.

[2022-07-28 14:48] #154 closed

[2022-07-28 14:50] Snirpo commented on #157
Unfortunately we cannot do this, we're just passing through audio data.

[2022-07-28 16:55] #157 closed

[2022-07-28 20:27] worldonfire commented on #124
Yes, somehow... but does not sound logical at all... have tried so many cables with different lengths and only this hacky one works.

If I have possibility to drive with my wifes passat and remember to take this cable with me, will test it there also.

[2022-07-28 22:14] Brian-Chow commented on #128
@Snirpo minor update. I did the update yesterday, and assumed that HFP was hands free profile (bluetooth) and used USB controlled.  After modifying the settings, it played right away, no need to forget the AAwireless from UConnect.  It started up once from off ok.  Next start from off I had to forget and unplug it, but the start after that it connected without issue or fiddling.  I also don't seem

[2022-07-29 17:10] xkraz commented on #128
Great job AAWIRELESS team. I have a 2020 RAM 1500 with 12 inch display. Firmware 1.12.0 works flawless for me now.
I did have to change my wireless setting from 5g to 2.4g as it would reboot at the same location while on the freeway.

My current settings:
USB: MTP w/ retry
Passthrough: disabled
WiFi Settings: (Country US, Hotspot, 2.4GHz, channel auto)
Start/Stop: enabled (the 2 experimental optio

[2022-07-29 19:46] pronline commented on #149
I would like to add the Volvo S60 (2019 model) to the issue list.

Screenshots

N/A

Device name (AAWireless/AndroidAuto-AAWxxxxxxx):

AAWireless
Czc35GeC

Car:

Volvo S60 (MY2019)

Headunit:
have to check, but only one option as far as I know.

Smartphone:
Oneplus 10 Pro
Latest firmware/security update

[2022-07-30 20:35] luvwot commented on #128
Update from a few drives over the last 2-3 days using the latest beta firmware (2.1.0-202207261344-develop-ae2749b-develop-2dc6bdfa) and latest app from Firebase.

A couple short stops (USB remains powered) and a few overnight stops (USB powers off). Everything worked fine through the first part of this morning - a total of 7 or 8 successful connections I think. Then after a short stop I was unabl

[2022-07-31 06:12] Rubeast commented on #102
I see that this issue is closed, but I fail to see what the solution is. I also have a Xiaomi phone where aawireless constantly disconnects and can't do phone calls. Can be reproduced by turning mobile data off and then back on.

[2022-07-31 06:26] Dehumanizer77 commented on #102
It's a Xiaomi issue and they don't seem to care, probably not enough Xiaomi users don't use wireless android auto, otherwise I don't know why they are ignoring it. It's not aawireless specific, it happens on MIUI also in cars with built-in wireless android auto connection. Send them a report.

[2022-08-02 06:42] Snirpo commented on #128
@luvwot enabled (yet) another branch for you. We copied over some code from Android itself. Can you please try this firmware?

[2022-08-02 06:42] Snirpo commented on #128
@luvwot enabled (yet) another branch for you. We copied over some code from Android itself. Can you please try this firmware?

[2022-08-02 10:26] xsichtasdf commented on #124
@worldonfire : can you specify which hacky cable did work in the end? Would like to test it as well

[2022-08-02 10:33] worldonfire commented on #124
Please look this post: https://github.com/cpebit/aawireless-issues/issues/124#issuecomment-1166339175
It is self made Y cable. It is ~10cm long and has extra type A(maybe half a meter long) to use with cicarette lighter. BUT by some reason, this cable works without this extra power.

Have tried several other short cables, but with everyone connection drops.
My friend will make another Y cable in n

[2022-08-02 11:28] Snirpo commented on #124
@worldonfire I'll send you an old style AAWireless cable. Can you possibly check what kind of cable I sent with the old device I sent you? Does the USB A plug have an white or purple inside?

[2022-08-02 11:34] worldonfire commented on #124
It has white inside. I'm not 100% sure if i used that cable or not. But can give a shot when going to a ride :)

[2022-08-02 11:40] Snirpo commented on #124
I think I included that one on purpose. The plastics of the USB A side is square and short vs the new cable with has a round-ish and longer USB A plug. Please try indeed.

[2022-08-02 19:58] Le-Kiki opened #160 "Audio multiplexing not perfect when waze talk when Deezer is streaming"
**Describe the bug**
First great thanks for this great feature that has bought Wireless Android Auto to my car.

All is working like a charm  except an audio issue when waze speaks to indicate directions while Deezer is streaming music

**Device name (AAWireless/AndroidAuto-AAWxxxxxxx) (please complete the following information):**
 - AAWireless/AndroidAuto-AAWW99iJbfk

**Car (please complete the

[2022-08-03 04:40] Brian-Chow commented on #128
@Snirpo I've had a chance to run the first dev build a while now and had my second instance of having to reboot my unit and forget it from the HU. This seems to be roughly the same behavior that @luvwot experienced as well

[2022-08-03 05:57] Snirpo commented on #128
@Brian-Chow We have very promising results from both @luvwot and @fg64 , I'll enable this "dummy-mtp" firmware for you.

[2022-08-05 09:37] Asghan86 commented on #125
Any news on this?
Should be easy I guess

[2022-08-05 19:51] luvwot commented on #128
The dummy-mtp firmware has been running without a problem. Multiple short trips and long delays, and AAW has connected properly every time.  I think you guys nailed it!

[2022-08-05 22:11] fg64 commented on #128
Same on my end. 4 days with consistent connects.

[2022-08-06 11:04] DieserMerlin commented on #129
@Snirpo I don't know if you intended to fix, but I was able to install the latest update with my phone connected to my home wifi. So this seems to be fixed?

[2022-08-07 03:28] Brian-Chow commented on #128
Unfortunately, I can't say the same. While it's mostly connected ok, I have had a few issues.

1: my Uconnect crashed and rebooted twice while using AA. I suppose it could be coincidental, but it's never happened before.
2: I've had to forget and unplug/replug just once
3: I had some behavior where AA would start playing music very quickly (good) but then disconnect and auto reconnect.. Sounds lik

[2022-08-07 06:13] Snirpo commented on #128
@Brian-Chow Do you have the experimental USB device controlled start/stop enabled? If so, can you disable that option?

[2022-08-07 13:04] Brian-Chow commented on #128
@Snirpo  I do have that enables, I'll switch it back and give it a try. I noticed there was a new firmware available, should I upgrade that as well or stay with the MTP-Dummy version?

[2022-08-07 13:09] Snirpo commented on #128
Yes, you can upgrade to develop. I merged the changes back to develop. Thanks!

[2022-08-07 15:16] Snirpo commented on #160
Unfortunaly this is a known issue on NAC Wave2 HU's, please check #106

[2022-08-07 15:16] #160 closed

[2022-08-07 15:17] Snirpo commented on #156
No activity.

[2022-08-07 15:17] #156 closed

[2022-08-07 15:18] Snirpo commented on #146
Better explanation of LED's planning for app version 3.0

[2022-08-07 15:19] Snirpo commented on #151
Please check https://cpeb.freshdesk.com/a/solutions

[2022-08-07 15:19] #151 closed

[2022-08-07 15:21] Snirpo commented on #136
Should be fixed in firmware 2.0.2.

[2022-08-07 15:21] #136 closed

[2022-08-07 15:23] Snirpo commented on #129
We did quite some changes in the app lately, so that's possible. I'm closing this for now, if it occurs again, this issue can be re-opened.

[2022-08-07 15:23] #129 closed

[2022-08-07 16:23] kpagnat opened #161 "Connection instable"
**Describe the bug**
Newly owner of the AAWireless, I made directly the update to 2.0.2 on first launch.
After that, I experienced many disconnects (sometimes every 2 minutes, sometimes after 30 minutes, it varies).
In the last days, I was having issues connecting to AndroidAuto on first start (many connect/disconnect).

After many tests, I found out that Spotify was the problem.
If Spotify is lau

[2022-08-07 16:35] Snirpo commented on #161
Hmm, never heard this before. Can you check if the same thing happens with "passthrough" mode enabled?

[2022-08-07 19:29] worldonfire commented on #124
Have tested this cable for some days now. Have driven ~300km (1x100km, 1x50km, 1x 70km and some shorter ones). To my surprise, it has been quite stable. Only today, after this ~50km trip, just when managed to park my car, connection was lost. But looks like, it has worked much better than the others. At least for now. Will continue testing.

As i'm testing this cable atm, gave the "hacky" one to m

[2022-08-07 20:20] xkraz commented on #128
Can you please allow AAwireless-4E9q1gDe to upgrade to dev build?

[2022-08-07 20:56] bpsmicro commented on #128
After a few weeks of near-flawless operation, I now need to get in on this action.

AAWireless-j5egnS15
Samsung Galaxy S20 FE 5G
2018 UConnect 8.4"
v1.12.0 firmware (I never upgraded it when I got my AAW because I was reading on XDA there were issues, and not I see "no updates" as expected.

Up to late last week, it worked perfectly probably 90% of the time. The other 10% I might see "Device not S

[2022-08-07 21:01] bpsmicro commented on #128
WTF! So after all my poking and prodding, I came inside, typed the above, went back out to see if I could find the place to remove the AAW from the HU, and it all just fired right up as if nothing had happened, It's toying with me now. :-|

[2022-08-08 06:11] kpagnat commented on #161
Thanks for your quick answer.
In fact yes, I already tested this case.
What I have done also is factory reset and using Dongle Mode too. But none of these work.

[2022-08-08 10:52] Snirpo commented on #124
@worldonfire Can you also test this old style cable on the newer device?

[2022-08-08 11:06] worldonfire commented on #124
I'm actually using my own newer device with this older cable.

[2022-08-08 11:22] Snirpo commented on #124
@karlmorris @domik82 @xsichtasdf @Sasha0088 I still have some old style cables laying around, I can send you a cable if you want. Just pass me your address on chiel@cpeb.it.

[2022-08-10 17:17] StreetChariot opened #162 "Dropouts and rollback to 1.12.0 without notice 2015 Ram 1500."
The AA App downgraded the firmware the other day back to 1.12.0 with no updates available.

Since then, frequent disconnects and app decides to flash back and fourth regarding the connection or no connection.

Was working great before the rollback from 2.0.2 back to 1.12.0.

[2022-08-10 17:39] Snirpo commented on #162
Weird, can't explain this. We locked UConnect to 1.12.0 because of #128 . Can you post your device name? I'll enable the latest beta, should work fine again.

[2022-08-10 17:42] StreetChariot commented on #162
xOEQvmYK should be the ID.
________________________________
From: Chiel Prins ***@***.***>
Sent: Wednesday, August 10, 2022 1:39:52 PM
To: cpebit/aawireless-issues ***@***.***>
Cc: StreetChariot ***@***.***>; Author ***@***.***>
Subject: Re: [cpebit/aawireless-issues] Dropouts and rollback to 1.12.0 without notice 2015 Ram 1500. (Issue #162)

Weird, can't explain this. We locked UConnect to 1.12.0

[2022-08-10 17:43] StreetChariot commented on #162
Also I have a 2019 challenger Uconnect 8.4 in my 2015. :)

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Andrew Streetman ***@***.***>
Sent: Wednesday, August 10, 2022 1:42:50 PM
To: cpebit/aawireless-issues ***@***.***>; cpebit/aawireless-issues ***@***.***>
Cc: Author ***@***.***>
Subject: Re: [cpebit/aawireless-issues] Dropouts and rollback to 1.12.0 wit

[2022-08-10 18:31] Snirpo commented on #162
@StreetChariot Develop firmware is enabled, please switch to default USB mode, all other USB modes or not nessecary anymore.

[2022-08-10 18:55] StreetChariot commented on #162
Thanks Chiel. I'll definitely check when I'm back in the truck.

Interestingly enough, when I set pass through back to on, it worked on 1.12.0 (had it turned off when it was on 2.0.2..

I'll reset the settings when I get the beta installed and let you know.

Thanks again!

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Chiel Prins ***@***.***>
Sent: Wednesda

[2022-08-10 18:56] StreetChariot commented on #162
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Andrew Streetman ***@***.***>
Sent: Wednesday, August 10, 2022 2:55:43 PM
To: cpebit/aawireless-issues ***@***.***>; cpebit/aawireless-issues ***@***.***>
Cc: Mention ***@***.***>
Subject: Re: [cpebit/aawireless-issues] Dropouts and rollback to 1.12.0 without notice 2015 Ram 1500. (Issue #162)

Thanks Chiel. I'l

[2022-08-11 17:01] Brian-Chow commented on #128
@Snirpo I upgraded to 2.1.0-202208090004-dev and it's back to the 2.1x behavior, plus some extra oddities.  I've had to forget and unplug a few times.  It worked flawlessly for a few trips, and for a few trips, I wasn't able to get it to connect at all even with the forget/unplug dance and just gave up.  I also had 2 instances where it would start playing AA and then shortly after music started it

[2022-08-11 19:12] Snirpo commented on #128
@Brian-Chow there should be a newer firmware available. But it's to be honest quite confusing. In general this firmware works much better for most. So I'm a bit confused to be honest...

[2022-08-11 20:09] Brian-Chow commented on #128
Yes, 1.12 worked perfectly, every time.

The MTP dummy labeled build worked most of the time, but with some oddball issues like disconnecting and restarting after starting playback.  The 2.1 dev isn't working for me very well at all.  I just got back from another errand and I noticed uconnect reporting unable to find media files for playback when AAWireless wasn't connecting correctly.  I have not

[2022-08-11 20:32] Snirpo commented on #128
@Brian-Chow Can you possibly shoot in some logs, so we can check what the MTP stuff is doing?

[2022-08-11 22:06] joeyberkovitz commented on #128
@Brian-Chow - I enabled a firmware for you which reverts some of the newer MTP testing, but pulls in one of the fixes we think is relevant for uConnect. If you can, please test this one and verify if it eliminates that "unable to find media files" error or improves stability.

[2022-08-11 22:11] Brian-Chow commented on #128
@Snirpo Is there a way to grab logs prior to clicking on 'Bug report'?  I had enabled (perhaps erroneously)  developer mode before my most recent trip and that happened to be one where it started playing ok, then seemingly crashed, as UConnect quit out of the AA screens and music stopped playing.

@joeyberkovitz Yes, I will update today and let you know how it goes in a few days after I've gotten

[2022-08-11 22:13] joeyberkovitz commented on #128
If you send a bug report it'll capture all logs on the device, so no need to wait for another failure

[2022-08-11 22:19] Brian-Chow commented on #128
Ok, bug report filed.

[2022-08-12 07:02] achillesgk commented on #149
I have the same problem. Can  you enable the 2.0.1 for me? AAWXCbyEJIK

[2022-08-12 07:07] Snirpo commented on #149
Pretty sure it won't help, but I enabled it anyway.

[2022-08-12 07:11] achillesgk commented on #149
Thanks, I will check it

[2022-08-12 15:31] achillesgk commented on #138
Try to use another  usb cable (the  aawireless cable , never work with me). Also reset the infotainment.

[2022-08-13 01:21] maisondasilva commented on #141
I have same bug in Chevrolet onix mylink 3 7inc

[2022-08-13 14:35] achillesgk commented on #149
Only one disconnect in one hour. I  don't  know if the problem is the auto switch to mobile data. I will disable it and I will let you know

[2022-08-14 08:43] kpagnat commented on #161
Okay. I'm back with some news.
It is definitively NOT Spotify's fault.
And the passthrough mode doesn't change anything.
I didn't any have any trip without at least one disconnection (very annoying).

What can I do now ?
Thanks

[2022-08-15 20:06] worldonfire commented on #124
Another week has passed and I would say that this "old style" cable is more stable. It still has some very rare drops, but not as much as the other ones (but still not as stable as the hacky one).
Would say that this is so weird. Some shorter cables don't work, then this hacky one that has propably missing shielding etc works perfect.
@Snirpo have you had any response from the factory about these

[2022-08-16 18:00] fgorodishter-godaddy commented on #128
Gotcha. Any suggestions on what the recommended settings would be to run it with Uconnect? Such as USB Mode, Passthrough, Dongle, etc?

[2022-08-16 18:03] Snirpo commented on #128
USB mode default or MTP (it's the same thing in 2.1.0), passthrough doesn't really matter, dongle mode also doesn't really matter. Start / stop probably enabled to prevent the the dongle constantly trying to connect to the phone because of the car's USB port staying powered for one hour after turning off the car. However if you have a Samsung phone there's a good chance start/stop won't work well

[2022-08-17 02:45] luvwot commented on #128
@fgorodishter-godaddy I have a Samsung Galaxy S22 and have had good luck using start/stop with the additional "Device USB Controlled" option. It's connected reliably for 2 weeks now and I no longer have the problem of my phone constantly connecting and disconnecting for an hour after I exit the car.

[2022-08-17 11:21] xsichtasdf commented on #124
Send you my address. Let's give it a try

[2022-08-17 12:24] karlmorris commented on #124
I already had a refund processed unfortunately.

[2022-08-17 17:13] naz062 opened #163 "Fiat tipo 2017 1.12.0 is back."
**Describe the bug**
The AA App downgraded the firmware the other day back to 1.12.0 with no updates available.

Since then, frequent disconnects and app decides to flash back and fourth regarding the connection or no connection.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device name (AAWireless/AndroidAuto-AAWxxxxxxx) (please complete the following informatio

[2022-08-17 19:12] Snirpo commented on #163
I enabled 2.1.0 for you, can you please update?

[2022-08-18 17:48] Brian-Chow commented on #128
It was running fairly well for a while, yesterday I still had an issue where it wouldn't connect.  I needed nav at the time so didn't mess with it too much and just plugged in my phone directly.  I would say.. at least for me.. it's better... but still not as good as 1.12 was.  Should I upgrade to the latest release?  Or factory reset and keep on the dev firmware?  Or combo of both?

[2022-08-19 03:24] joeyberkovitz commented on #128
@Brian-Chow - you're back on dev now. It has some small changes to try to improve stability and compatibility over previous dev, so it may be worth a try. If it still doesn't work, please send over a bug report, preferably with at least one connection attempt while the AAW is in debug mode, and we can continue from there.

[2022-08-19 13:51] speedyg0nz commented on #124
Owner of a Indiegogo launch unit here. Never managed to get it working over the past year with my 2018 VW Sharan running a Technisat HU, regardless of the FW update level. Read through the entire thread but it seems that there's no clear solution, other than getting a better cable? I've tried 4 different cables so far and still have no luck. If there's a specific cable to try that is known to work

[2022-08-19 22:22] PseudonymSam opened #164 "Rollback to firmware 1.12.0. Won't download most recent update"
I have a 2019 RAM 1500, with uconnect, using a Pixel 6 Pro running Android 12. I set up device, no android auto function at firmware 1.12.0(Device Not Recognized). It said update to latest software, 2.0.2, I updated and android auto worked beautifully. Then suddenly it reverted back to 1.12.0 and back to no function at all. my device name is: cg4Rz9Wy.

p.s. when I open the app, it says that there

[2022-08-20 06:23] Snirpo commented on #164
Enabled the latest firmware for you (2.1.0), you should be able to update.

[2022-08-21 20:36] gcnunez commented on #164
I'm having the exact same issue

[2022-08-22 05:00] rhefner commented on #135
I've had nothing but trouble with AAWireless in my 2018 Audi A5 SB. Random hangs/crashes. I use Apple Music / Google Maps nav mostly, if that matters. Was on Android 12 with a Google Pixel 6 Pro, now on Android 13. Crashes on 2.0.1 and now on 2.0.2 but same thing. Will see if anything is different with Android 13, as I haven't been on that but a few days.

I have tried every mode/combination under

[2022-08-22 06:55] worldonfire commented on #124
@Snirpo looks like Tiguan with technisat has also issue with cables.
Aprox a week ago did fresh setup + used this Y cable: https://www.aliexpress.com/item/1005002704214182.html?spm=a2g0o.order_list.0.0.51c71802UUn9bT
And now looks like it has no more random disconnections.

[2022-08-22 07:24] Snirpo commented on #135
@crostonblue @rhefner It's probably best to first get a replacement device. Please contact support@aawireless.io.

[2022-08-22 13:14] null-character commented on #128
@Snirpo thanks for looking at this and getting it squared away. Can you put me back on stable? AAWNkfNuqOS. I'd like to get on regular 2.1 once it rolls to me.

[2022-08-22 20:18] jimbotron123 commented on #128
Can you please lift my firmware downgrade restrictions as well please? I have two devices:
AAWireless-282Cm5iE
AndroidAuto-AAWiknizR0o

Thank you!

[2022-08-22 20:57] chosroes opened #165 "Unstable connection"
**Describe the bug**
When I start the car, it connects successfully, but after 1 or 2 minutes driving, it disconnect one time systematically. Then it works for the rest of the journey.
Until the time I engage the reverse gear, disconnecting again.

**Device name (AAWireless/AndroidAuto-AAWxxxxxxx) (please complete the following information):**
 AAWireless-tmuTQlgJ

**Car (please complete the follo

[2022-08-23 12:50] karlmorris commented on #124
This information may or may not be useful, but I switched to the Motorola MA1 a few weeks ago, and the dropped connection behavior is still being observed. In fact it's uncanny how similar the problems are across both units. For me this suggests the problem is in fact with the cable and/or head unit, and I've pretty much ruled out the AAWireless (and MA1) unit as being the culprit.

[2022-08-23 19:59] chosroes commented on #165
Still the same with 2.1.0. o just created a bug report in the app

[2022-08-23 22:36] zavinator opened #166 "Can't download OTA update"
**Describe the bug**
I can't download the latest OTA update 2.1.0 with the AAWireless app. When I click "Start download" nothing happens - no download and no error message.
I've tried both data connections (WiFi, mobile data). I had no problem when downloading the previous version 2.0.2 and the only things that has changed is the Android system version (12 -> 13) and apk version.

**Smartphone (pl

[2022-08-23 23:17] Snirpo commented on #124
@karlmorris it is useful actually, because it means we are not doing anything completely stupid.
@worldonfire Definitely thanks for the info. We didn't really have any useful info from the factory yet. Still looking into this issue. What we are going to do is switch back to the old cable for our next batch. I also have some other cables coming in for a test.

[2022-08-24 00:12] Tagyourout commented on #166
Same issue here. OTA download initiates then stops.
Google Pixel 6 Pro Android 13.

[2022-08-24 00:28] irwing-reza commented on #89
I finally got mine working on Sunday.

Same as you Mazda CX5 2019 and S22 Ultra.

Steps:
1. Did a reset on the head unit.
2. Reset on AA Dongle, AA Wireless App and Android Auto.
3. Delete previous Bluetooth connections to head unit and AA Wireless Device.
4. Do not connect device to head unit.
5. Start dongle setup.
6. If it doesn't connect change settings to this:
    - USB Mode to MTP
    - Pas

[2022-08-24 01:09] mako8866 commented on #166
Same issue.

Pixel 6 Pro
Android 12

[2022-08-24 01:33] gui-jasmin commented on #164
I have the exact same issue, RAM 1500 2019. Was recognized on 2.x firmware and got reverted back to 1.12.x and it is not recognized anymore

[2022-08-24 04:54] matuszajac commented on #166
Same here. Android 12 OnePlus 9 pro.
Can't download update file. Latest APK version from play store. 2.22

[2022-08-24 06:50] worldonfire commented on #124
This "old style" cable has been quite ok. When driving, it has been stable, but it has had few drops when starting the car or parking the car. I don't know if it is some coincidence... But it is definately usable atm.

If needed, I can help to test different cables :)

My wifes car has usb hub and my car does not so propably I can cover both B8 passat usb options (one usb port in front and second

[2022-08-24 07:08] Snirpo commented on #124
@worldonfire I'll definitely send you some cables.

[2022-08-24 12:03] null-character commented on #128
Hi @Snirpo unfortunately 2.1 has been less stable then 1.12 for me. Can you please downgrade me to 1.12. AAWNkfNuqOS.

Yesterday while driving to work the connection dropped and after reconnecting no AA on the radio. Where even plugging in the phone with a cable wouldn't work. After the car set off for a few hours I went back in and it worked again on my home way from work.

This morning getting i

[2022-08-24 12:16] bpsmicro commented on #128
@null-character, try this quick-fix and see if it helps. In UConnect, go into the Bluetooth settings, Pairing, Smartphone Projection Manager. Select the AAW and then "Forget" it. Then unplug/replug the AAW and see if it all magically fires up.

My read is that UConnect's knowledge of the AAW device gets confused/corrupted, and once that happens you're in the situation you see until UConnect gets a

[2022-08-24 14:24] luvwot commented on #128
@Snirpo Still rock-solid on mine. It looks like there's an "official" update now that rolls in the Uconnect fixes. If you want me to test that one, I'm happy to try it.

[2022-08-24 20:52] maddenfederico commented on #166
Same here. Pixel 6 Android 13 apk 2.22

[2022-08-24 21:12] Raudi1 commented on #166
Seems like it's a pixel issue. Same on my pixel 6 with latest Android and aawireless app from Google play.

[2022-08-24 21:17] Macronot commented on #166
Same issue Oneplus Nord Android 12.

[2022-08-24 22:12] olmuss commented on #166
It is not the fault of the mobile, I have Samsung M52 5g and the same problem, it does not download

[2022-08-24 23:10] null-character commented on #128
@bpsmicro yeah that usually works but every once in awhile it doesn't.

Also strangely in my Uconnect it showed Nexus listed. I deleted that and after unplugging it and reconnect it showed up as aawireless.

I don't think anything else connected so not sure if Nexus was an incorrectly added aawireless adapter or not.

[2022-08-25 04:11] luvwot commented on #128
I saw Nexus as the initial name of my AAW, too, but after deleting that and adding it back it came up as Uconnect. In a slack conversation, Snirpo told me that's expected.

[2022-08-25 05:44] 0n3-70uch commented on #166
Hi same problem here.
Pixel 6 Pro / Android 13 / AAwireless 2.22

[2022-08-25 05:54] Snirpo commented on #166
We are looking into it.

[2022-08-25 11:20] minor69 commented on #166
Samsung Galaxy S2 Ultra 5g Same Problem

[2022-08-25 18:02] bossarts commented on #166
Galaxy S10, same issue...

[2022-08-25 18:50] Snirpo commented on #166
For most of you this should be fixed now. The app caches data from the backend, so it could take up to 4 hours to correct itself.

[2022-08-25 19:15] Macronot commented on #166
+1 fixed

[2022-08-25 19:29] zavinator commented on #166
fixed

[2022-08-25 19:29] #166 closed

[2022-08-25 20:31] 0n3-70uch commented on #166
All fine now. Thanks

[2022-08-25 21:37] minor69 commented on #166
Very Thx...

[2022-08-27 00:29] zthalji opened #167 "Unable to download firmware 2.1.0"
**Describe the bug**
Unable to download firmware 2.1.0. Download window opens but nothing happens.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device name (AAWireless/AndroidAuto-AAWJT8ca9GP) (please complete the following information):**
 - AAwireless AAWJT8ca9GP

**Car
 - Mercedes GLC 2020

**Headunit
 - Mercedes MBUX

**Smartphone
 - Device: Samsung Galaxy S

[2022-08-29 14:40] Snirpo commented on #164
Everyone is now able to update to 2.1.0, please update to 2.1.0.

[2022-08-29 14:40] #164 closed

[2022-08-29 14:41] #163 closed

[2022-08-29 14:41] Snirpo commented on #167
Rolling out a new version of the app now which should fix this issue.

[2022-08-29 20:43] bwshockley commented on #167
I'm on version 2.23. cannot download the 2.1.0.

[2022-08-29 21:21] merdely commented on #167
I cannot download the new firmware either.
2019 Audi S5
Device: Google Pixel 6 Pro
Android: 13
App Version: 2.23.0

I've tried on mobile, on Wifi, and on Wifi over a VPN.  I've tried using my router's DNS and using Quad9.net's DOH DNS (incase my DNS filtering was causing any issues).

When I click Start Update, I see: "Warning: If you have any VPN enabled, please disable the VPN..."  Unless specif

[2022-08-29 22:10] null-character commented on #128
I contacted support to downgrade me to 1.12 since I don't use any of the new features and I was still having some infrequent issues.

I disabled passthrough and I have to do more testing but it seems to be working better.

So this might actually be two issues causing the same or similar problem on the uconnect side.

The issue I was having on passthrough was identical to this one where is says con

[2022-08-30 09:44] Snirpo commented on #167
@merdely Seems the download is working fine, but updating is not working?

[2022-08-30 09:47] Snirpo commented on #165
No idea why this is happening. Can you possibly create a bug report from the app (Help and support --> bug report)?

[2022-08-30 09:48] Snirpo commented on #162
Should be fixed in 2.1.0, if not please open a new issue.

[2022-08-30 09:48] #162 closed

[2022-08-30 09:59] Snirpo commented on #161
I notice you have an Xiaomi phone, can you check if this is happening: https://www.youtube.com/shorts/gnlF6crZvJc ? If so AA dies because of phone loosing mobile connection. This is an issue with Xiaomi phones, there's nothing we can do about it unfortunately.

[2022-08-30 10:01] Snirpo commented on #158
Please contact support for help.

[2022-08-30 10:01] #158 closed

[2022-08-30 10:03] Snirpo commented on #149
Closing because of no activity. If this issue persists, please create a new issue.

[2022-08-30 10:03] #149 closed

[2022-08-30 10:04] #155 closed

[2022-08-30 10:04] Snirpo commented on #147
Closing because of no activity. If this issue persists, please create a new issue.

[2022-08-30 10:04] #147 closed

[2022-08-30 10:05] Snirpo commented on #146
Closing this issue, version 3.0 of the app will have an UI overhaul with clearer descriptions / images.

[2022-08-30 10:05] #146 closed

[2022-08-30 10:09] Snirpo commented on #141
I'm closing this for now. Little chance we can fix this. Possibly we can look into this in the future.

[2022-08-30 10:42] chosroes commented on #165
Hello, Ibalready done it

Le mar. 30 août 2022, 11:47, Chiel Prins ***@***.***> a
écrit :

[2022-08-30 13:36] Snirpo commented on #167
@merdely Can you possibly post a screenshot?

[2022-08-30 13:38] bwshockley commented on #167
@Snirpo - The downloading does not work.  App works fine.  It reports that it found an update from 1.8.0 to 2.1.0.  I tap to update and it warns me that I'm on a metered network, I tap download now, and it acts like it's trying.  It states "Download 0%"...and a notification also pops up stating it is downloading at 0%...it sits for about 5-10 seconds, never going over 0%.  Then it closes and the s

[2022-08-30 13:41] merdely commented on #167
@Snirpo Attached.
![Screenshot_20220830-093752](https://user-images.githubusercontent.com/6376795/187452642-0d16dffb-db30-4a39-9d08-2aff8792cfc0.png)
![Screenshot_20220830-093739](https://user-images.githubusercontent.com/6376795/187452643-eda5a0e3-3b81-453f-a4d7-4a719e346260.png)

[2022-08-30 13:44] merdely commented on #167
I used to see this exact behavior, then it started giving me the VPN error along with the "An error occurred, please try again" message in my screenshot.

[2022-08-30 13:47] bwshockley commented on #167
Video of my process.
https://user-images.githubusercontent.com/5291634/187453887-5586df39-9ec8-43fa-ad9a-1647f8cbbf47.mp4

[2022-08-30 13:57] DogeTrento commented on #167
Same here, no download...😔

[2022-08-30 15:40] fmuniz commented on #167
Exact same here, but I'm on 2.0.2

[2022-08-30 15:49] Snirpo commented on #167
@merdely It seems in your case the download has already been downloaded, but the update itself doesn't work. Maybe a stupid question, not to offend you, but the device is on and you are in vicinity of the device right?

@bwshockley Thanks for the recording. Can you confirm the version of the app? Is it 2.22.0 or 2.23.0? It's on the home screen, but I can't see it fully on the video recording.

[2022-08-30 16:15] bunicb commented on #167
Same here, on app 2.23.0.
Starts, says 0%, and then just a short notification download failed, and it immediately disappears.

[2022-08-30 16:19] Snirpo commented on #167
@bunicb Can you also download the dev app https://appdistribution.firebase.dev/i/210fc06c9667e5f8 , run the download again and either post the MAC address or name of your device (AAWireless-xxxx or AndroidAutoAAW-xxxx)?

[2022-08-30 16:48] bunicb commented on #167
Hi, just tried it in dev.
Device name is AndroidAuto-AAWhXWWlTzo

[2022-08-30 16:57] merdely commented on #167
Oh my. I'm so embarrassed.  I swear I was having the exact same problem as @bwshockley for days and days. I did not notice that it changed to say "Download complete".

Sorry to waste your time. I went out to my car and after 3 or 4 failures, it succeeded.

Thanks for your help.

[2022-08-30 17:10] Snirpo commented on #167
@merdely No problem. 3 failures does not sound right though. We might switch back to the old way of updating. What we are doing right now is piggybacking on the connection of Android Auto itself, but that doesn't seem to work correctly for everyone. A safer (albeit slower) way of updating might be to just kill Android Auto beforehand.

@bunicb Thanks. May have found the issue. Will push a new vers

[2022-08-30 18:14] bwshockley commented on #167
@Snirpo - Still need me to install the -dev build?  OR should I wait until a new version is ready tomorrow?

[2022-08-30 18:18] Snirpo commented on #167
@bwshockley the dev version has quicker (immediate) updates compared to the production (Play Store) version. So for testing that's the way to go :)

[2022-08-30 22:04] danbantha commented on #167
Same issue
![Screenshot_20220831-080058_AAWireless](https://user-images.githubusercontent.com/112520702/187551813-708df839-8f6f-4ba7-815e-cda8759b3b71.jpg)

[2022-08-31 14:11] bwshockley commented on #167
I tried updating via the dev version this morning.  Same results. AAWireless-PX4QToCs

[2022-08-31 14:51] Snirpo commented on #167
Yes, easy :) Haven't pushed it yet.

[2022-08-31 15:22] Snirpo commented on #167
New build is available now

[2022-08-31 17:13] bwshockley commented on #167
2.24 dev build fixed the issue for me. 2.1.0 downloaded and installed fine.

[2022-08-31 18:25] Snirpo commented on #167
@bwshockley Great! Download was broken for all batch 1 and 2 devices. Should be fine again now. Will push it into production tomorrow.

[2022-08-31 18:53] taylorsdesigns commented on #167
Sounds resolved now but I had to download off of wifi, took like 3 tries fyi

How do I know which batch my device is in

[2022-08-31 19:28] bunicb commented on #167
Yep, worked for me too on 2.24.0.

[2022-09-01 06:41] Snirpo commented on #167
@taylorsdesigns If you post the name of your device, I can check.

[2022-09-01 06:42] Snirpo commented on #167
Since it seems to be fixed, I'm closing this issue and rolling out 2.24.0. If you're still experiencing issues with OTA, please open a new issue.

[2022-09-01 06:42] #167 closed

[2022-09-01 07:05] taylorsdesigns commented on #167
@snirpo AAWireless-Bj1T9rTm

[2022-09-01 07:09] Snirpo commented on #167
@taylorsdesigns that's a gen2 device, so should not be affected.

[2022-09-01 12:15] Thebo84 opened #168 "Broken TTS"
**Describe the bug**
Everything works good audio side, heck thanks to your latest firmware i can even connect now in NON-passthrough mode and change DPI in my Honda civic 2021 FK7. Still whenever TTS is involved (Google Assistant, waze, maps...) audio stutters but it's worst than this.  It starts then sometimes stutters a tiny bit and then interrupts just before finishing. WHenever TTS engine is c

[2022-09-01 12:17] Snirpo commented on #107
Closing this issue, there's nothing we can do about it. It's a hack, and hacks could break at some point. All extra features will be marked experimental and only for advanced users in the next version of the app.

[2022-09-01 12:17] #107 closed

[2022-09-01 12:21] #89 closed

[2022-09-01 12:23] Snirpo commented on #161
Closing because of no activity. Please open a new issue if this problem persists.

[2022-09-01 12:23] #161 closed

[2022-09-01 12:24] Snirpo commented on #139
Is this still a problem in the latest Android Auto version?

[2022-09-01 12:26] Snirpo commented on #138
Closing because of no activity. Please open a new issue if this problem persists.

[2022-09-01 12:26] #138 closed

[2022-09-01 12:27] Snirpo commented on #137
Sadly we cannot do this.

[2022-09-01 12:27] #137 closed

[2022-09-01 12:28] Snirpo commented on #135
Closing because of no activity. Please open a new issue if this problem persists.

[2022-09-01 12:28] #135 closed

[2022-09-01 12:31] Snirpo commented on #133
The Xiaomi issue with loosing AA connection when loosing/reconnecting mobile data connection is not something we can fix. The only one who can fix this is Xiaomi. So I'm closing this issue.

[2022-09-01 12:31] #133 closed

[2022-09-01 12:31] kpagnat commented on #161
Hello,
You taked 16 days to answer my questions. And then after only 2 days you close the issue ?
I hoped to be better served for a product bought more than 100€.
Best regards.

[2022-09-01 12:33] Snirpo commented on #127
@darkmethatx Sorry for the late answer, if you have firmware 2.1.0 and the dev app: https://appdistribution.firebase.dev/i/210fc06c9667e5f8 you can enable the "experimental USB controlled" start / stop option in start / stop settings. Please make sure the production version of the app is uninstalled, otherwise it may conflict.

[2022-09-01 12:35] Snirpo commented on #97
Closing this issue because of no activity. If the problem persists, please create a new issue.

[2022-09-01 12:35] #97 closed

[2022-09-01 12:40] Snirpo commented on #128
I'm closing this issue because it's getting way to big. We've been having very little UConnect tickets since 2.1.0, so for most it seems to be fixed. At least, there's no clearing/deleting on the car side necessary anymore. Some car's might need a USB re-plug once in a while, if this is the case please try "MTP with retry" USB mode, because this emulates a re-plug. The MA1 also needs a re-plug onc

[2022-09-01 12:40] #128 closed

[2022-09-01 12:41] Snirpo commented on #125
Planned for 2.25.0. No idea where to place it though. Any ideas?

[2022-09-01 12:43] Snirpo commented on #124
@worldonfire Getting the cables tomorrow, 20 some different cables. I'll pick out some ,test them, and forward them to you.

@xsichtasdf You should have received the old style cable on 30/8, can you confirm?

[2022-09-01 12:43] Snirpo commented on #131
Closing because of no activity.

[2022-09-01 12:43] #131 closed

[2022-09-01 12:44] Snirpo commented on #132
I don't think we can fix this. Closing this issue.

[2022-09-01 12:46] Snirpo commented on #74
Almost same functionality as #125 . We'll add this to app version 2.25.0.

[2022-09-01 12:47] worldonfire commented on #124
Waiting to test! :)

Got information that one tiguan in estonia is using AAWireless with such 5cm cable: https://www.aliexpress.com/item/1005001952119418.html?spm=a2g0o.order_list.0.0.554418029TY5w3
Has had very few drops.

[2022-09-01 12:49] #94 closed

[2022-09-01 12:50] Snirpo commented on #105
We cannot fix this, something fails in Android Auto.

[2022-09-01 12:50] #105 closed

[2022-09-01 12:55] Asghan86 commented on #125
Perhaps next to the "Reset" button at the button of the device config menu?

[2022-09-01 12:56] Snirpo commented on #161
I'm just closing old issues. This is no support desk, if you want immediate answers please contact support@aawireless.io

[2022-09-01 15:40] lrigdon commented on #97
It still happens occasionally, but with the latest version, it recovers
quicker. It's not enough of an issue for me to mess with.

Lewis Rigdon

On Thu, Sep 1, 2022 at 7:35 AM Chiel Prins ***@***.***> wrote:

[2022-09-01 15:49] simonthetall commented on #97
Mine when away once I received an update for Android Auto and the July update from Samsung.  Sorry that I didn't advise.

From: lrigdon ***@***.***>
Sent: September 1, 2022 9:41 AM
To: cpebit/aawireless-issues ***@***.***>
Cc: simonthetall ***@***.***>; Mention ***@***.***>
Subject: Re: [cpebit/aawireless-issues] Connection drops (Issue #97)

It still happens occasionally, but with the latest vers

[2022-09-01 16:01] dublus commented on #139
I will let you know when we get one of the cars back from the shop. They've
had it for almost a month. "Supply chain issues". Thanks for remembering.

On Thu, Sep 1, 2022, 5:24 AM Chiel Prins ***@***.***> wrote:

[2022-09-01 17:08] tOOmki opened #169 "A window with the message "Device protection privacy consent""
**Describe the bug**
After updating to version 2.1.0, a window with the message "Device protection privacy consent" appears each time the car is started. In version 2.0.2 I used MTP with a forced start and this window with the message was not there.
I checked various combinations of options (USB Mode, Passthrough, Dongle), nothing helped.
I tested on 2 phones - Xiaomi, Samsung.
In case of cable co

[2022-09-02 09:27] xsichtasdf commented on #124
Hey, yes received. Was unable to test yet, try to do it asap!

[2022-09-02 13:47] Snirpo commented on #124
@worldonfire got a bunch of cables now, will forward them all to you. 2 of them don't charge my Pixel 6. The cable we ship now doesn't charge it either. Not sure if that's a good indicator for a "good" or "bad" cable, but who knows. I'll tag them.

[2022-09-05 00:05] rustyrz commented on #74
Awesome, thank you!

On Thu, Sep 1, 2022, 8:46 AM Chiel Prins ***@***.***> wrote:

[2022-09-05 14:43] Snirpo commented on #124
@worldonfire They are on your way

[2022-09-05 15:16] Snirpo commented on #124
@worldonfire

These ones don't charge my Pixel 6. Not sure if that's a good indicator, but I expect them to also be crappy in the Passat.

![PXL_20220905_055154578](https://user-images.githubusercontent.com/4076368/188479336-644f4cbf-a4c0-4b84-8c6d-17173d154d16.jpg)

These ones
![PXL_20220905_055216188](https://user-images.githubusercontent.com/4076368/188479523-3ced9e00-7094-4766-8c46-3d1e5ab9a05

[2022-09-05 15:23] xsichtasdf commented on #124
Tested cable, no change of behaviour. It works for like 20 sec and than that's it. So, I'll request a refund. Thanks a lot for all your efforts, but I guess shitty VW software denies the freedom aawireless offers. :( But nonetheless, incredibly good customer support. Thanks!

[2022-09-06 18:46] Snirpo commented on #169
Didn't really have time to build a custom firmware. I re-enabled 2.0.2 for you, can you verify it does not happen on 2.0.2?

[2022-09-08 09:15] tOOmki commented on #169
It's fine on the cable.
I tested for 2 days on version 2.0.2 and the message did not appear.

[2022-09-14 10:07] Swap-File opened #170 "Wi-Fi Client Mode support for on phone Hotspot"
I would like to suggest the feature of Wi-Fi Client Mode support for a hotspot running on the phone where AAWireless is running.

It appears that AAWireless (the device) can connect to my phone's hotspot when in client mode, but AAWireless (the app) can't find the device.

When I asked in the XDA support forum, it was mentioned that this is currently expected behavior since client mode only suppor

[2022-09-21 16:45] Snirpo commented on #74
We're postponing this a bit and bundling it with the next firmware (2.3.0). This firmware will also make it possible to control and change settings from another phone then the one currently connected for Android Auto.

[2022-09-21 16:47] Snirpo commented on #170
Yes, this is possible, but a bit low prio for now. It's on our list though.

[2022-09-25 19:25] GPSMapper commented on #124
For the sake of keeping all in one place - joining here to report my issues with MIB2 STD (Discover Media 6/5")
I am facing similar disconnects, everything described in details here:
https://forum.xda-developers.com/t/aawireless-general-discussion-and-support.4247677/page-229#post-87483675

**+ Update**
My device is not rebooting but rather randomly loosing the connection with HU.
The LED behaviou

[2022-09-25 19:36] Snirpo commented on #124
I'm debugging this issue together with @xsichtasdf at the moment. I sent him one of my MA1's as sort of a sanity check, and it does not seem to have this issue. It's highly likely this problem is hardware related and we can only fix with a new hardware revision. Luckily it does not seem to be a very widespread issue. It doesn't really seem to be related to one type of HU. It's something else in th

[2022-09-25 19:43] GPSMapper commented on #124
On my side I will try with SW update first and will also order a cable recommended by @worldonfire
https://pl.aliexpress.com/item/1005002704214182.html?spm=a2g0o.order_list.0.0.51c71802UUn9bT&gatewayAdapt=glo2pol

[2022-09-26 18:14] GPSMapper commented on #124
OK, So I have updated my HU SW to the latest release available (MST2_EU_VW_PQ_P0369T) but this has not helped.
With mobile data turned off I am still experiencing random disconnects. AAW box is definitely not rebooting  but dropping connection  - connection returns back within 5 seconds or so. No sure though where the disconnect is happening - AAW<>HU or AAW<>smartphone

Recommended Vention Y cabl

[2022-09-26 22:43] GPSMapper commented on #124
I have made another test with 2 other phones:
1. Samsung A41 / Android 12
2. Xiaomi MI6 / Android 9

with both the random HU disconnects issue is in place. So that means the issue in my case is not phone dependent.

Having this said, do you think this could be one of:
1. Faulty AAW box?
2. some bug in latest 2.1.0 AAW FW (O have seen a user on XDA complaining about disconnects started to happen on

[2022-09-27 05:46] Snirpo commented on #124
Kinda what I expected. I enabled 2.0.2 for a test. Could be faulty as well I guess, we could replace it.

[2022-09-27 21:44] GPSMapper commented on #124
@Snirpo So, downgraded to 2.0.2 and did more tests.... More or less the same - random disconnects, BUT the box behavior is different.
2.1.0: connection loss > solid blue (2-3 sec) >  blinking green 1-2 s > blue - connect
2.0.2"connection loss > solid blue (~8 sec) >  solid green (7-8 sec) > blinking green 1-2 s > blue - connect

So it seems that with 2.0.2 FW box reboots after connection drop whil

[2022-09-27 22:18] Snirpo commented on #124
@GPSMapper What I can do is send you a v1 device. However, I already tried that with I think @worldonfire (not sure anymore). You can pass me your address details in the ticket or on Slack https://join.slack.com/t/aawireless/shared_invite/zt-1fj6fe1it-3eX6VggGkD41CsC~PbK1zA

[2022-09-28 16:58] worldonfire commented on #124
V1 did not make any difference. At the moment seems that only some very short cables or Y cables work. Old style original cable is somewhat stable but the hacky one was still much better...

[2022-10-10 08:08] Snirpo commented on #124
We're still working on this issue, but it's honestly only getting more confusing...

@xsichtasdf (Technisat)
AAW V2 --> disconnects
AAW V1 --> disconnects
MA1 --> works fine

@GPSMapper (Technisat)
AAW V2 --> disconnects
AAW V1 --> works perfectly
AAW V2 replacement --> waiting for results

@worldonfire (Harman) (same as on my desk)
AAW V2--> unstable
AAW V1 --> unstable
Very short / hacked up cab

[2022-10-11 08:19] lrigdon commented on #97
What do we need to do to roll back to 1.7.1?
Thanks,
Lewis

On Mon, Apr 18, 2022 at 3:13 PM Chiel Prins ***@***.***>
wrote:

[2022-10-11 08:43] simonthetall commented on #97
So I tested 2.0 over the weekend.  I am still getting resets with and without Dongle mode.  It might actually be a bit worse in Dongle mode  for frequency of resets.

From: Chiel Prins ***@***.***>
Sent: April 30, 2022 7:27 AM
To: cpebit/aawireless-issues ***@***.***>
Cc: simonthetall ***@***.***>; Comment ***@***.***>
Subject: Re: [cpebit/aawireless-issues] Multiple reboots after upgrading to 1.8

[2022-10-11 08:49] lrigdon commented on #97
Not sure what has changed, but after Monday the 9th when I submitted two
logs, I have experienced only 1 unexpected restart of the dongle. That's a
significant reduction. If the incidence goes up again, I will again submit
logs.
Of course, on that Monday, I had done a reset of the dongle, cleared cache
for AA Wireless and Android Auto, directly connected my phone and cleared a
couple of Android Au

[2022-10-12 12:32] IngMoscato opened #171 "Possible solution for micro disconnections in Xiaomi/Redmi/POCO smartphones few minutes from vehicle start"
**Describe the bug**
Everytime I start my car my smartphone connects to AAWireless receiver and, after few minutes, a micro disconnection happens.
After few seconds the smartphone reconnect properly to receiver and connection remains stable.

**Device name (AAWireless/AndroidAuto-AAWxxxxxxx) (please complete the following information):**
 - AAWireless

**Car (please complete the following informat

[2022-10-12 12:34] Snirpo commented on #171
Are you using start / stop? Please provide the name of the device (AAWireless-xxxxxx or AndroidAuto-AAWxxxxxxx).

[2022-10-12 12:44] IngMoscato commented on #171
Yes, my device is AndroidAuto-AAWNrJ9wZaY

[2022-10-12 14:20] Snirpo commented on #171
In that case it makes sense indeed. Unfortunaly we have no control over power / battery saving. Technically it is possible, but the app will be banned from the Play Store if we do that. We'll add an extra disclaimer in start / stop settings to disable any battery saving.

[2022-10-12 14:28] CyberExplorer opened #172 "Is the device resetting itself until connection?"
**Describe the bug**
As soon as ignition on my headunit boot up. But loading AndroidAuto / CarPlay modules take a little more time. I think AAWireless boot faster than my headunit boot + module load. I saw AndroidAuto icon enabled but if I didnt touch it within 2 seconds its goes off and after 3-5 minutes laters its enable again. And even I didnt touch the button within ~10 seconds its goes off ag

[2022-10-12 14:30] IngMoscato commented on #171
In my case my infotainment system of my car doesn't know anything about start/stop function and, how the rest of cars in the world, simply turns off automatically if you have turned off the car after min 10/15 min.
The disconnections happen regardless car is moving or is stopped.
The sequence is: You turn on the car -> smartphone connects -> after few minutes passed-> receiver disconnects and reco

[2022-10-12 14:47] Snirpo commented on #172
I see you have "MTP forced" USB mode enabled, that will cause this behavior. Please use the "Default" mode, it should work fine in your car. Also please disable passthrough mode. These cars will only send the command to start up the connection when you press the button on the HU's screen. In non-passthrough mode we keep the connection alive by pinging to the phone, so the LED will stay "blinking b

[2022-10-12 15:07] CyberExplorer commented on #172
Non passthrough never worked on my car. It was just black screen or not connected. Also several months I used default usb mode but in that mode if I cant catch AA icon withing a certain time its not coming back. I had to restart AAWireless from my phones notification areas.

[2022-10-12 15:50] CyberExplorer commented on #172
Cant remember.

[2022-10-14 14:01] abagc opened #173 "Audio dropouts"
**Describe the bug**
 - I have seemingly random audio dropouts every 0.5-3 minutes in Spotify and CloudBeats (cloud player), which last about 0.5 seconds. This problem never occurs with a cable connection.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device name (AAWireless/AndroidAuto-AAWxxxxxxx) (please complete the following information):**
 - AAWireless-A1h3

[2022-10-16 00:57] Tim-303 opened #174 "2021 Honda Pilot only works in pass thru mode"
I can only get it to work in pass thru mode.  I have tried all the different options but nothing works.  When mot in pass thru the head unit hangs starting up.

[2022-10-16 05:31] Snirpo commented on #174
Please enable the "GM fix" from the settings and it will work without passthrough.

[2022-10-16 14:56] Tim-303 commented on #174
Thank You.  I tried that before but it worked this time.Sent via the Samsung Galaxy S10 5G, an AT&T 5G smartphone
-------- Original message --------From: Chiel Prins ***@***.***> Date: 10/15/22  11:31 PM  (GMT-07:00) To: cpebit/aawireless-issues ***@***.***> Cc: Tim-303 ***@***.***>, Author ***@***.***> Subject: Re: [cpebit/aawireless-issues] 2021 Honda Pilot only works in pass thru mode (Issue #1

[2022-10-26 05:06] Thebo84 commented on #168
No suggestions? We (everyone I personally know that has AAw) are back to cable since then. Using with this bug is very dangerous while driving it makes you go out of your brain

[2022-10-26 05:26] Snirpo commented on #168
The only thing I can suggest is to use passthrough mode. If the same thing happens in passthrough mode (byte per byte straight passthrough), there's nothing we can do at this point. We are aware some cars have this issue (mainly PSA NAC Wave2) and spent alot of time hacking into the AA protocol to fix it. Same thing will happen on any wireless dongle (on NAC2 at least).

[2022-10-26 05:27] #174 closed

[2022-10-26 05:32] Thebo84 commented on #168
The weird thing at this didn't happened in the first months. Neither to me nor to the people I let buy AAW. Then something happened either android updates, AA updates or AAW updates. Hence why.... I will check once more in passthrough... Btw all the people I know have this issue in Japanese 2021+ cars (honda and Toyota).

I'll report back

​

Il giorno 26 ott 2022, 07:26, alle ore 07:26, Chiel Pri

[2022-10-26 05:36] Snirpo commented on #168
Hm ok, that's interesting. I enabled 1.12.0 for you for a test.

[2022-10-26 13:26] Asghan86 commented on #173
Can confirm the same for Focus ST with Sync 3 system and Pixel 5 with Android 13.

[2022-10-26 14:04] caco3 commented on #74
I also miss an easy way to switch phones while both are in reach.

[2022-11-03 19:42] Jon8RFC commented on #173
I get random dropouts/stuttering on non-streamed music. It's not regular, but happens enough that it wasn't a one-time thing.
Pixel 7 pro
2018 hyundai sonata limited (navigation head unit)

[2022-11-09 18:46] davidfm opened #176 "Starting Android Auto failes most times"
**Describe the bug**
A clear and concise description of what the bug is.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device name (AAWireless/AndroidAuto-AAWxxxxxxx) (please complete the following information):**
 - AAWe40154a0

**Car (please complete the following information):**
 - Toyota Corolla 2022

**Headunit (please complete the following information):**

[2022-11-16 04:24] Tragic0428 opened #177 "AAWireless 2.1.0 connection issues on 2019 Ram with Uconnect4"
**Describe the bug**
A clear and concise description of what the bug is:

2019 Ram 1500 with 12" Uconnect4 screen; purchased the AAW adapter on 10/27 and installed it shortly after with no issues. Been running it near-flawlessly for a few days; on occasion it would give the "device not recognized" error, but would reset immediately if unplugged and plugged back in. 2 days ago when entering the veh

[2022-11-16 07:08] Tragic0428 commented on #177
Having trouble with the bug report; it seems like my phone is having intermittent connection with the dongle. It will start the logging process/download of report, but 3x it was unable to complete it. I'll try again later after work.

[2022-11-16 14:21] Tragic0428 commented on #177
Tried a factory reset, and noticed the name of the unit in the app changed names. According to the changelog for 2.1 this isn't supposed to happen?

[2022-11-16 14:56] Snirpo commented on #177
Definitely not indeed. On 2.1.0 it's based on the serial name of the device. Based on all odd behavior you're experiencing it could be defective.

[2022-11-17 03:27] Tragic0428 commented on #177
Currently "b87235af".

First time pulling up the app today, looks like the interface has updated. Wonder if I got caught in the middle of an update?

[2022-11-17 05:58] Tragic0428 commented on #177
So fiddling with it today, I noticed that it seemed as if the phone and dongle were in some sort of connection loop. The status bar of my phone was constantly aflurry every few seconds notifying me of connections to AA/the wireless network. The head unit itself was still on the loop of "device not supported" notifications. I could alter and save in-app settings if I was quick. The AAW unit would d

[2022-11-19 14:15] Pompiere73 opened #178 "Peugeot new 2008 multimedia system contnuos crash at the engine start after last update (2.1)."
**Describe the bug**
After las update (ver2.1), at the startup of the engine, the entertainmen and info system crash, resulting in a freezing of all the systems, that in this car  are all controlled by the infotaiment.
To fix it, need to disconect the AAW, stop the engine, wait for 3 to 4 minuts to let all the apparatous shooting down, than, start again the engine and waiting for the system loadin

[2022-11-19 14:41] Snirpo commented on #177
Seems it's completely restarting in the car. On the laptop it will do the blinking blue --> 10 sec --> blinking green because it's in passthrough mode. Android Auto will time out on the phone side and restart the connection. On back USB ports, the behavior is indeed the same as on the laptop because there is no data connection. I suggest completely resetting the device by pressing the pinhole butt

[2022-11-19 14:42] Snirpo commented on #178
Please post the name of the device "AAWireless-xxxx or AndroidAuto-AAWxxxxx"

[2022-11-19 16:19] Pompiere73 commented on #178
The device is: *AAWireless-AcVwRigF*

*Tnx*

Franco G. da dispositivo mobile

Il Sab 19 Nov 2022, 15:42 Chiel Prins ***@***.***> ha scritto:

[2022-11-23 19:44] sonny486 opened #179 "WAZE GPS stops working"
WAZE GPS stops working after a few minutes.  Google Maps works fine.  WAZE GPS works fine on direct connection to car via USB on the phone.

2018 Ford Expedition

[2022-11-23 20:03] Snirpo commented on #178
I enabled a custom firmware for your device, can you verify if this resolves the issue?

[2022-11-23 20:05] Snirpo commented on #179
Can you tell me what phone you have? Can you verify if the problem does not exist in passthrough mode?

[2022-11-23 20:05] Pompiere73 commented on #178
Yes for sure, tnx!

⁣Franco Garavaglia da dispositivo mobile

Ottieni BlueMail per Android ​

Il giorno 23 Nov 2022, 21:03, alle ore 21:03, Chiel Prins ***@***.***> ha scritto:

[2022-11-25 14:17] Pompiere73 commented on #178
Well, i'm using it, and let let me say that is working properly!! Well done!
 It looks like the connection starts quitely delayed than before without any interferences with the car systems.
Really tnx!!

[2022-11-26 08:29] Pompiere73 commented on #178
Well, from more tests i can tell u that this firmware works properly for
this issue, but, now i noticed that with the music apps (spotify, deezer,
prime music) till i don't unlock the screensaver of the mobile (the mobile
is just unlock with smart unlock, but screen shooted down), the apps don't
work, responding with the message: "connection lost" or " no connection".
As soon as i turn on (just fo

[2022-11-29 23:21] Kazoobers opened #180 "Notifications stay on map"
**Describe the bug**Notifications such as red light camera show up once and then stay on the screen and we'll not disappear like normal. This prevents any new notifications of red light cameras showing up.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Device name (AAWireless/AndroidAuto-AAWxxxxxxx) (please complete the following information):**
 - Manufacturer +